@import 'styles/variables/index';
@import '../controls.module';

.base {
}

.input {
  @extend %user-input;
}

.input {
  @extend %gets-user-input;
}

.label {
  @extend %gets-user-input-label;

  .hasFocus & {
    font-size: rem(14px);
    transform: translateY(0);
  }
}

.hasError {
  input {
    border-color: var(--color-error);
  }
}
