@import 'styles/variables/index';
@import '../controls.module';

.base {
}

.input {
  @extend %user-input;
  @extend %gets-user-input;
  cursor: pointer;
}

.label {
  @extend %gets-user-input-label;

  .hasFocus & {
    font-size: rem(14px);
    transform: translateY(0);
  }
}
