@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: fixed;
  z-index: var(--z-index-cart);
  top: 0;
  right: 0;
  left: 0;
  max-height: 100vh;
  padding: 30px 20px 15px;
  background-color: var(--color-grey-10);
  color: var(--color-white);
  overflow-y: scroll;

  @media (--viewport-sm-only) {
    height: 100vh;
  }

  @media (--viewport-md) {
    padding: 40px 40px 15px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer {
  padding-bottom: 40px;
  background-color: var(--color-grey-10);

  @media (--viewport-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.information {
  width: 100%;
  align-self: flex-end;
  padding-top: 30px;
  padding-right: 40px;

  @media (--viewport-md) {
    width: 50%;
    padding-top: 0;
  }
}

.checkout {
  width: 100%;

  @media (--viewport-md) {
    width: 50%;
  }
}

.payment {
  width: 100%;
  margin-top: 20px;

  @media (--viewport-md) {
    width: 50%;
    margin-left: 50%;
  }
}
