@import 'styles/index';

.base {
  @media (--viewport-sm-only) {
    padding: var(--layout-lg-spacing) 20px;
  }

  &,
  & * {
    box-sizing: border-box;
  }

  @media (--viewport-md-only) {
    width: 50%; /* Temporary for local development */
    padding: 100px var(--layout-md-spacing) var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    padding: var(--layout-lg-spacing);
  }
}

.image {
  display: flex;
  justify-content: center;

  @media (--viewport-md-only) {
    height: 280px;
    align-items: flex-end;
    background-color: lightblue;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 250px;

    @media (--viewport-md) {
      max-height: 100%;
    }
  }
}

.imageLink {
  display: block;
}

.productName {
  margin-top: 0;
  margin-bottom: 7px;
  text-align: center;
}

.productNameLink {
  color: currentColor;
}

.infoHolder {
  margin-bottom: var(--layout-sm-spacing);
}

.info {
  color: var(--color-grey-30);
  font-size: rem(14px);
  text-align: center;
}

.variants {
  margin-bottom: 24px;
}

.definitionList {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);

  @media (--viewport-md) {
    .dark & {
      border-top: 2px solid var(--color-grey-20);
    }

    .light & {
      border-top: 2px solid var(--color-light-copy);
    }
  }

  dt {
    padding-right: 20px;
    border-bottom: 1px solid var(--color-grey-65);
    margin-bottom: 0;
  }

  dt,
  dd {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  dt:nth-of-type(1) {
    @media (--viewport-md) {
      padding-top: 14px;
    }
  }

  dd:nth-of-type(1) {
    @media (--viewport-sm-only) {
      padding-top: 0;
    }
  }
}
