@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  display: flex;
  justify-content: flex-end;
}

.addButton {
  position: relative;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-grey-20);
  color: var(--color-grey-60);
  font-size: rem(15px);
  line-height: 1.4;
  text-align: left;

  @media (--viewport-md) {
    width: 50%;
  }

  &:hover,
  &:focus {
    color: var(--color-white);

    .addIcon {
      circle {
        fill: var(--color-white);
        stroke: var(--color-white);
      }

      polygon {
        fill: var(--color-secondary);
        stroke: var(--color-secondary);
      }
    }
  }
}

.addIcon.addIcon {
  position: absolute;
  right: 0;
  transform: translateY(-3px);

  circle,
  polygon {
    stroke: var(--color-grey-60);
    transition: fill 500ms var(--easing-ease-out-cubic),
      stroke 500ms var(--easing-ease-out-cubic);
  }
}

.dialog {
}
