@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: fixed;
  z-index: var(--z-index-fixed-notification-banner);
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem rem(40px);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: rem(14px);
  text-align: right;
}
