@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  margin: 0 0 10px;

  @media (--viewport-md) {
    margin: 20px 0 0;
  }

  @media (--viewport-lg) {
    margin: 0 0 5px;
    transition: opacity 1300ms 300ms var(--easing-ease-out-cubic);
  }
}

.isActiveButton {
  :nth-child(2) {
    opacity: 0;
  }

  :nth-child(3) {
    opacity: 1;
  }
}

.ingredientsTrigger {
  position: absolute;
  top: 14px;
  right: 0;
  outline: none;

  &.isActiveButton,
  &:hover,
  &:focus {
    g {
      :nth-child(1) {
        fill: var(--color-secondary);
      }

      :nth-child(2) {
        fill: var(--color-white);
        stroke: var(--color-white);
      }
    }
  }
}
