@import 'styles/variables/index';

.base {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-grey-20);
  background-color: var(--color-grey-10);

  @media (--viewport-md) {
    display: flex;
    align-items: center;
  }
}

.name {
  font-family: var(--font-family-sans-serif-medium);

  @media (--viewport-sm-only) {
    margin-right: 100px;
    margin-bottom: 40px;
  }

  @media (--viewport-md) {
    width: calc(100% * 6 / 12);
    flex-basis: auto;
    padding-right: 25px;
  }
}

.productLink {
  color: var(--color-white);

  &:focus {
    outline-color: var(--color-grey-20);
  }

  &:hover,
  &:focus {
    color: var(--color-white-dark);
  }
}

.size {
  color: var(--color-grey-60);

  @media (--viewport-sm-only) {
    display: inline-block;
    padding-right: 25px;
    font-size: rem(12px);
  }

  @media (--viewport-md) {
    width: calc(100% * 2 / 12);
    flex-basis: auto;
  }
}

.quantity {
  @media (--viewport-sm-only) {
    position: absolute;
    top: 22px;
    right: 0;
  }

  @media (--viewport-md) {
    flex-basis: auto;
    margin-right: 10px;
  }

  @media (--viewport-lg) {
    flex-basis: auto;
    margin-right: 30px;
  }
}

.remove {
  transition: opacity 300ms var(--easing-ease-out-cubic);

  @media (--viewport-sm-only) {
    display: inline-block;
    padding-right: 25px;
  }

  @media (--viewport-md) {
    flex-grow: 1;
  }
}

.price {
  color: var(--color-white);
  font-size: rem(15px);

  @media (--viewport-sm-only) {
    position: absolute;
    right: 0;
    display: inline-block;
    color: var(--color-grey-60);
    font-size: rem(12px);
    transform: translateY(4px);
  }

  @media (--viewport-md) {
    flex-shrink: 0;
  }
}

.removeButton {
  color: var(--color-grey-60);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);

  @media (--viewport-md) {
    font-size: rem(13px);
  }

  @media (--viewport-lg) {
    font-size: rem(14px);
  }

  @media (--viewport-sm-only) {
    font-size: rem(12px);
  }

  &:focus {
    outline-color: var(--color-grey-20);
  }

  &:focus,
  &:hover {
    color: var(--color-white);
  }
}
