@import 'styles/variables/index';
@import 'styles/mixins/index';

.wrapper {
  padding: var(--layout-sm-spacing);

  @media (--viewport-md) {
    display: flex;
    justify-content: space-between;
    padding: var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    padding: var(--layout-lg-spacing) 80px;
  }
}

.item {
  width: 100%;
  flex-shrink: 0;

  @media (--viewport-sm-only) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  @media (--viewport-md) {
    width: calc(50% - 15px);
  }

  @media (--viewport-lg) {
    width: calc(50% - 10px);
  }

  figure {
    padding: 0;

    figcaption {
      padding: 20px 0 0 0;
      border: none;
    }

    p {
      color: var(--color-body-copy);
    }
  }
}
