@import 'styles/index';

.base {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: rem(15px);

  @media (--viewport-md-only) {
    justify-content: space-between;
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 9px;

  @media (--viewport-md-only) {
    position: absolute;
    left: 0;
    width: 48%;
    padding-right: var(--layout-md-spacing);
  }
}

.description {
  max-width: 85%;

  &,
  & p {
    font-size: rem(14px);
    font-weight: 400;
    line-height: 1.7;
  }

  @media (--viewport-md-only) {
    width: 48%;
    max-width: 100%;
    margin-left: 52%;
  }
}

.hasFooter.hasFooter {
  margin-bottom: 20px;
}

.ctaWrapper {
  margin-top: auto;

  @media (--viewport-md-only) {
    width: 48%;
    max-width: 100%;
    margin-left: 52%;
  }
}
