@import 'styles/index';

.base {
  padding: 60px var(--layout-sm-spacing);

  @media (--viewport-md) {
    padding: 100px var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    padding: 160px var(--layout-lg-spacing);
  }
}

.dark {
  @extend %font-theme-dark-copy;
}

.light {
  @extend %font-theme-light-copy;
}

.wrapper {
  margin: 0 auto;
  text-align: center;

  @media (--viewport-md) {
    width: 50%;
    margin: 0 auto;
  }
}

.blockquote {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font-family-zapf-serif);
  font-size: rem(25px);
  font-weight: var(--font-weight-normal);
  line-height: 1.33;
  text-size-adjust: 100%;

  @media (--viewport-md) {
    font-size: rem(30px);
  }
}

.author {
  display: block;
  margin: 0;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  font-style: initial;
  line-height: 2;
}
