@import 'styles/index';

.base {
  width: 100%;
  margin: 24px 20px;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.4;
  text-align: left;

  @media (--viewport-md) {
    padding: 0 20px;
    margin: 34px 0;
    text-align: center;
  }
  @media (--viewport-lg) {
    padding: 0 20px;
    margin: 24px 0;
    text-align: center;
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.link {
  display: inline-block;
  width: 100%;
  text-align: left;

  @media (--viewport-md) {
    text-align: center;
  }
}

.content {
  @media (--viewport-md) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--color-secondary);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  span {
    border-bottom: 1px solid transparent;
    transition: all 300ms var(--easing-ease-in-sine);
  }

  .link:hover & {
    span {
      border-bottom: 1px solid var(--color-secondary);
    }
  }
}

.copy {
  color: var(--color-dark-label);
  font-size: rem(14px);
}
