@import 'styles/index';

.base {
  margin: 0;

  &,
  & * {
    box-sizing: border-box;
  }
}

.caption {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin: 0;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  line-height: 1.7;

  @media (--viewport-md) {
    padding-right: 25px;
    padding-left: 34px;
  }

  @media (--viewport-lg) {
    padding-left: 20px;
  }

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.captionWrapper {
  margin: 0;
}

.captionOffset {
  @media (--viewport-md) {
    margin-left: 27.34%;
  }

  @media (--viewport-lg) {
    margin-left: 40.39%;
  }
}

.border {
  border-bottom: 1px solid var(--color-grey-rgba-20);
}
