@import 'styles/index';

.base {
  position: relative;

  @media (--viewport-lg) {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
  }
}

.reverse {
  @media (--viewport-lg) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.contentInnerWrapper {
  max-width: 780px;
  padding: 76px 20px;

  @media (--viewport-md) {
    display: flex;
    flex-basis: auto;
    padding: 110px 34px;

    .hero & {
      flex-direction: column;
    }
  }

  .hasFullWidthImage & {
    height: 100%;

    @media (--viewport-lg) {
      margin: auto 0 auto 50%;
    }
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md-only) {
      padding-top: 0;
    }
  }

  @media (--viewport-lg) {
    width: 66.66667%;
    flex-basis: auto;
    flex-direction: column;
    padding: 115px 0;
    margin: auto;

    .hero & {
      padding-top: 0;
      margin-top: var(--layout-logo-vertical-offset-lg);
      margin-right: 10%;
      margin-left: 30%;
    }
  }
}

.mediaWrapper {
  height: auto;

  img {
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
    line-height: 0;
    object-fit: cover;
    transform: none;
  }

  picture {
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }

  .hasFullWidthImage & {
    height: 100%;

    @media (--viewport-lg) {
      position: absolute;
      z-index: var(--z-index-background-image);
      width: 100%;
    }
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md) {
      position: absolute;
      z-index: var(--z-index-background-image);
      width: 100%;
    }
  }
}

.contentWrapper {
  z-index: var(--z-index-forground-content);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.6;

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }

  .hasFullWidthImage.reverse & {
    @media (--viewport-lg) {
      margin: auto 50% auto 0;
    }
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md-only) {
      position: relative;
      padding-top: var(--layout-logo-vertical-offset-lg);
      margin-right: auto;
      margin-left: var(--layout-lg-spacing);
    }
  }
}

.header {
  @media (--viewport-md-only) {
    width: 50%;
    flex-basis: auto;
  }

  .section & {
    @media (--viewport-md-only) {
      margin-right: var(--layout-md-spacing);
    }
  }

  .hero.hasHalfWidthImage & {
    @media (--viewport-md-only) {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.content {
  @media (--viewport-md-only) {
    width: 50%;
    flex-basis: auto;
  }

  .section & {
    @media (--viewport-md-only) {
      margin-left: var(--layout-md-spacing);
    }
  }

  .hero.hasHalfWidthImage & {
    @media (--viewport-md-only) {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .section.dark & {
    border-top: 2px solid var(--color-grey-20);
  }

  .section.light & {
    border-top: 2px solid var(--color-light-copy);
  }
}

.description {
  margin: 16px 0;
  font-size: rem(15px);

  .hero & {
    margin-top: 0;
  }
}
