@import 'styles/index';

.base {
  display: flex;
  width: calc(100% - 1px);
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--layout-sm-spacing) / -2);

  @media (--viewport-md) {
    margin-top: calc(var(--layout-md-spacing) / -2);
  }

  @media (--viewport-lg) {
    margin-top: calc(var(--layout-lg-spacing) / -2);
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.link {
  display: inline-block;
  width: auto;
  flex: 1 1 auto;
  margin-top: calc(var(--layout-sm-spacing) / 2);
  margin-right: -0.5px;
  margin-left: -0.5px;

  @media (--viewport-md) {
    margin-top: calc(var(--layout-md-spacing) / 2);
  }

  @media (--viewport-lg) {
    margin-top: calc(var(--layout-lg-spacing) / 2);
  }
}

.fitContent {
  max-width: fit-content;
}
