@import 'styles/index';

.base {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-right: -2px;
  margin-left: -2px;

  &,
  & * {
    box-sizing: border-box;
  }
}

.flush {
  width: calc(100% - 1px);
  margin-right: 0;
  margin-left: 0;
}

.link {
  display: flex;
  width: auto;
  min-width: 210px;
  max-width: 300px;
  flex: 1 1 auto;
  align-items: center;
  margin-right: 2px;
  margin-bottom: 10px;
  margin-left: 2px;
  font-size: rem(14px);
  line-height: 1.4;

  @media (--viewport-sm-only) {
    width: auto;
    max-width: 100%;
  }

  @media (--viewport-lg) {
    margin-bottom: 20px;
  }
}

.flushLink {
  margin-right: -0.5px;
  margin-left: -0.5px;
}

.fitContent {
  width: fit-content;
}

.fullWidth.fullWidth {
  max-width: none;
}
