@import 'styles/index';

.base {
  @mixin reset-list;

  @media (--viewport-sm-only) {
    margin-top: 50px;
  }

  @media (--viewport-md-only) {
    margin-top: 30px;
  }
}

.term,
.description {
  font-size: rem(15px);
  line-height: 1.4;

  @media (--viewport-md) {
    line-height: 1.6;
  }
}

.term {
  position: relative;
  padding-top: 26px;
  margin-bottom: 4px;
  color: var(--color-secondary);
  font-family: var(--font-family-sans-serif-medium);

  &:nth-of-type(1) {
    transition-delay: calc((1 * 100ms) + 200ms);
  }

  &:first-of-type {
    border-top: 2px solid var(--color-grey-20);
  }

  @media (--viewport-md) {
    padding-top: 14px;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  margin-left: 0;
  color: var(--color-grey-30);
  font-family: var(--font-family-sans-serif-regular);

  &:nth-of-type(1) {
    transition-delay: calc((1 * 100ms) + 200ms);
  }

  @media (--viewport-md) {
    padding-bottom: 14px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-65);
  }
}
