@import 'styles/index';

.base {
  position: relative;
  padding: 0;
  border: 0;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  font-weight: var(--font-weight-normal);
  line-height: 1.4;
  outline: none;
  text-decoration: none;

  > * {
    pointer-events: none;
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.blockStyle {
  display: inline-block;
  min-width: 210px;
  max-width: 300px;
  height: 60px;
  padding: 19px 23px;
  border-width: 1px;
  border-style: solid;
  transition: all 200ms var(--easing-ease-in-out-cubic);

  @media (--viewport-sm-only) {
    width: 100%;
    max-width: 100%;
  }
}

.dark {
  @extend %font-theme-dark-link;

  &.blockStyle {
    border-color: var(--color-grey-rgba-20);

    &:hover,
    &:focus {
      background-color: var(--color-dark-background);
      color: var(--color-light-link-hover);
    }

    &.alternate {
      border-color: var(--color-dark-background);
      background-color: var(--color-dark-background);
      color: var(--color-light-link-hover);

      &:hover,
      &:focus {
        border-color: var(--color-black);
        background-color: var(--color-black);
      }
    }
  }
}

.light {
  @extend %font-theme-light-link;

  &.blockStyle {
    border-color: var(--color-white);

    &:focus,
    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark-copy);
    }
  }

  &.alternate {
    border-color: var(--color-light-link-hover);
    background-color: var(--color-light-link-hover);
    color: var(--color-dark-copy);

    &:hover,
    &:focus {
      border-color: var(--color-white);
      background-color: var(--color-white);
    }
  }
}

.disabled[disabled] {
  background-color: transparent;
  color: var(--color-dark-disabled);
  cursor: default;

  &.blockStyle {
    border-color: var(--color-dark-disabled);

    &.alternate {
      background-color: var(--color-dark-disabled);
      color: var(--color-grey-20);
    }
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-dark-disabled);

    &.blockStyle {
      border-color: var(--color-dark-disabled);

      &.alternate {
        border-color: var(--color-dark-disabled);
        background-color: var(--color-dark-disabled);
        color: var(--color-grey-20);
      }
    }
  }
}
