@import 'styles/index';

.base {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  font-weight: var(--font-weight-normal);

  @media (--viewport-md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(8, min-content);
  }

  @media (--viewport-lg) {
    grid-template-columns: 40% minmax(auto, 600px);
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.imageWrapper {
  width: 100%;
  margin-bottom: 10px;

  @media (--viewport-md) {
    margin-bottom: 0;
    grid-column: 1/ 2;
    grid-row: 1/ -1;
  }
}

.image {
  display: flex;
  justify-content: center;

  @media (--viewport-md) {
    justify-content: flex-end;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 300px;

    @media (--viewport-md) {
      max-height: 400px;
    }
  }
}

.description {
  margin-bottom: 20px;
  font-size: rem(14px);

  & > :last-child {
    margin-bottom: 0;
  }
}

.variantsWrapper {
  margin-bottom: 30px;
}

.variants {
  justify-content: flex-start;
}

.linkButtonGroup {
  @media (--viewport-lg) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.addToCartButton,
.cta {
  max-width: none;
}

@media all and (-ms-high-contrast: none) {
  .imageWrapper {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 8;
    -ms-grid-row-span: 8;
    grid-row-start: 1;

    img {
      flex-shrink: 0;
    }
  }
  .header {
    grid-column-start: 2;
  }
  .description {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .variantsWrapper {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .linkButtonGroup {
    grid-column-start: 2;
    grid-row-start: 4;
  }
}
