@import 'styles/index';

.base {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  font-weight: var(--font-weight-normal);

  &,
  & * {
    box-sizing: border-box;
  }
}

.imageWrapper {
  width: 100%;

  @media (--viewport-md) {
    width: 40%;
  }
}

.image {
  display: flex;
  justify-content: center;

  @media (--viewport-md) {
    justify-content: flex-end;
  }

  img {
    width: auto;
    max-height: 200px;

    @media (--viewport-md) {
      max-height: 400px;
    }
  }
}

.variantsWrapper {
  margin-top: 20px;
  margin-bottom: 34px;
}

.contentWrapper {
  width: 100%;
  max-width: 600px;

  @media (--viewport-md) {
    width: 60%;
  }

  a {
    font-size: rem(15px);
  }
}

.variants {
  justify-content: left;
}
