@import 'styles/index';

.base {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  font-weight: var(--font-weight-normal);

  &,
  & * {
    box-sizing: border-box;
  }
}

.imageWrapper {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;

  @media (--viewport-md) {
    width: calc((100%) * 4 / 12);
    padding-right: 0;
    padding-left: 34px;
    margin-bottom: 0;
  }

  @media (--viewport-lg) {
    width: calc((100%) * 4 / 12);
    padding-right: 0;
    padding-left: calc(var(--layout-lg-spacing) * 2);
    margin-bottom: 0;
  }
}

.image {
  text-align: center;

  @media (--viewport-md) {
    text-align: right;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 300px;

    @media (--viewport-md) {
      max-height: 400px;
    }
  }
}

.description {
  font-size: rem(14px);
}

.variantsWrapper {
  margin-top: 20px;
  margin-bottom: 34px;
}

.contentWrapper {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 0;

  @media (--viewport-md) {
    width: calc((100%) * 8 / 12);
    padding-right: 34px;
    padding-left: calc((100%) * 1 / 12);
    margin-bottom: 0;
  }

  @media (--viewport-lg) {
    width: calc((100%) * 8 / 12);
    padding-right: calc((100%) * 2 / 12);
    padding-left: calc((100%) * 1 / 12);
    margin-bottom: 0;
  }

  a {
    font-size: rem(14px);
  }
}

.variants {
  justify-content: left;
}

.addToCartButton,
.cta {
  width: min-content;
  max-width: none;
}
