@import 'styles/index';

.base {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-sans-serif-regular);

  &,
  & * {
    box-sizing: border-box;
  }

  @media (--viewport-sm-only) {
    background-color: var(--color-secondary-msg-bg);
  }
}

.wrapper {
  @media (--viewport-md) {
    padding-bottom: 60px;
  }
  @media (--viewport-lg) {
    padding-bottom: 100px;
  }
}

.multiple {
  @media (--viewport-md) {
    width: 50%;
  }

  &:first-of-type {
    @media (--viewport-sm-only) {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-grey-rgba-20);
      margin-bottom: 0;

      /* border-image: linear-gradient(0.25turn, transparent, var(--color-grey-45), transparent) 10 20%; */
    }

    @media (--viewport-md) {
      border-right: 1px solid var(--color-grey-rgba-20);

      /* border-image: linear-gradient(transparent, var(--color-grey-45), transparent) 10 100%; */
    }
  }
}
