@import 'styles/index';

.base {
  min-height: 85vh;
  padding-top: var(--layout-sm-margin);
  padding-right: var(--layout-sm-margin);
  padding-bottom: var(--layout-sm-margin);
  padding-left: var(--layout-sm-margin);

  @media (--viewport-md) {
    padding-top: 100px;
    padding-right: var(--layout-md-margin);
    padding-bottom: 40px;
    padding-left: var(--layout-md-margin);
  }

  @media (--viewport-lg) {
    padding-right: var(--layout-lg-margin);
    padding-bottom: var(--layout-lg-margin);
    padding-left: var(--layout-lg-margin);
  }

  @media (--viewport-xl) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;

  @media (--viewport-lg) {
    flex-direction: row-reverse;
  }

  @media (--viewport-lg-only) {
    justify-content: space-around;
  }
}

.content {
  @media (--viewport-lg) {
    width: calc(100% * 5 / 12);
    max-width: 470px;
  }

  @media (--viewport-xl) {
    width: calc(100% * 4 / 12);
    margin-right: 2.5%;
  }
}

.image {
  max-width: 880px;

  @media (--viewport-lg) {
    width: calc(100% * 7 / 12);
    align-self: flex-end;
  }
}

.breadcrumbs {
  @media (--viewport-md-only) {
    margin: 0;
    transform: translateY(20px);
  }

  @media (--viewport-lg) {
    max-width: 470px;
  }
}
