@import 'styles/index';

.base {
  display: block;
  width: auto;
  max-width: 800px;
  padding-bottom: 20px;
  border-bottom: 2px solid #797974;
  margin: 20px 10px;
  background: transparent;
  font-family: var(--font-family-sans-serif-regular);
  transition: border-color 400ms var(--easing-ease-out-cubic);

  &.disabled {
    border-color: #d0cfc6;
  }

  @media (--viewport-md) {
    margin: 20px 40px;
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.waveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 100%;
  margin: auto 0;
}

.waveform {
  overflow: hidden;
  width: 100%;
  height: calc(80px / 2);
}

.header {
  margin-bottom: 20px;
}

.iconPlay {
  position: absolute;
  top: 15px;
  opacity: 1;
  transform: translateX(1px);
  transition: all 400ms var(--easing-ease-out-cubic);

  &.disabled {
    fill: #d0cfc6;
  }
}

.iconPause {
  position: absolute;
  top: 15px;
  opacity: 1;
  transition: all 400ms var(--easing-ease-out-cubic);

  &.disabled {
    fill: #d0cfc6;
  }
}

.icon {
  transition: fill 200ms var(--easing-ease-out-cubic);

  &.disabled {
    fill: #d0cfc6;
  }

  .seekForward & {
    transform: rotate(180deg);
  }

  .seekForward:not([disabled]):hover &,
  .seekBackward:not([disabled]):hover & {
    .orange & {
      fill: #c67330;
    }

    .green & {
      fill: #007544;
    }

    .blue & {
      fill: #114094;
    }
  }
}

.hidden {
  opacity: 0;
}

.artistName {
  color: #666;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
  margin-top: 20px;

  @media (--viewport-md) {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.time {
  margin: auto 0;
  font-size: rem(15px);
  transition: color 400ms var(--easing-ease-out-cubic);

  &.disabled {
    color: #d0cfc6;
  }

  @media (--viewport-sm-only) {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: rem(14px);
  }

  @media (--viewport-md) {
    width: calc(100% * 1 / 3);
  }
}

.download {
  margin: auto 0;
  text-align: right;

  @media (--viewport-md) {
    width: calc(100% * 1 / 3);
  }

  @media (--viewport-sm-only) {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: rem(14px);
  }
}

.downloadButton {
  font-size: rem(15px);
  transition: color 200ms var(--easing-ease-out-cubic);

  @media (--viewport-sm-only) {
    font-size: rem(14px);
  }

  svg {
    transition: fill 200ms var(--easing-ease-out-cubic);
  }

  &:hover {
    .orange & {
      color: #c67330;
    }

    .green & {
      color: #007544;
    }

    .blue & {
      color: #114094;
    }
  }

  &:hover svg {
    .orange & {
      fill: #c67330;
    }

    .green & {
      fill: #007544;
    }

    .blue & {
      fill: #114094;
    }
  }
}

.controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  @media (--viewport-md) {
    width: calc(100% * 1 / 3);
  }
}

.playPauseButton {
  position: relative;
  display: flex;
  width: 47px;
  height: 47px;
  justify-content: center;
  padding: 15px;
  border: 1px solid #333;
  margin: 0 15px;
  border-radius: 100%;
  line-height: 1;
  transition: border-color 200ms var(--easing-ease-out-cubic);

  &.disabled {
    border-color: #d0cfc6;
  }

  &:not([disabled]):hover {
    .orange & {
      border-color: #c67330;
    }

    .green & {
      border-color: #007544;
    }

    .blue & {
      border-color: #114094;
    }
  }

  &:not([disabled]):hover svg {
    .orange & {
      fill: #c67330;
    }

    .green & {
      fill: #007544;
    }

    .blue & {
      fill: #114094;
    }
  }
}
