@import 'styles/index';

.base {
  position: relative;

  @media (--viewport-lg) {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
  }

  &.hero {
    @media (--viewport-lg) {
      min-height: 70vh;
    }
  }
}

.dark {
  @extend %font-theme-dark-copy;
}

.light {
  @extend %font-theme-light-copy;
}

.heroEyebrow {
  margin: 12px 0 10px;
  font-family: var(--font-family-sans-serif-regular);

  @media (--viewport-lg) {
    font-size: rem(14px);
  }
}

.fullscreenHeroCopy {
  padding: 0;
  margin: 0 0 2em;
  font-family: var(--font-family-sans-serif-regular);
}

.innerWrapper {
  padding: 36px 20px 56px;
  margin: 0;

  @media (--viewport-md) {
    padding: 90px 0;
  }

  @media (--viewport-lg) {
    width: 66.66667%;
    max-width: 410px;
    padding: 115px 0 2em;
    margin: 0 0 0 330px;
  }

  .hasFullWidthImage & {
    height: 100%;
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md-only) {
      padding-top: 0;
    }
  }
}

.heroTitle {
  margin: 0 0 1em;
  font-family: var(--font-family-sans-serif-regular);
  font-size: 2.5rem;
  @media (--viewport-md) {
    font-size: 26px;
  }
  @media (--viewport-sm) {
    font-size: 24px;
  }
  &.serif {
    font-family: var(--font-family-zapf-serif);
    font-size: 30px;
    @media (--viewport-sm) {
      font-size: 25px;
    }
  }
}

.reverse {
  @media (--viewport-lg) {
    flex-direction: row-reverse;
  }
}

.scrollLockWrap {
  position: relative;
}

.scrollLockMedia {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.scrollingContent {
  position: relative;
  top: -100vh;
}

.fullscreenHero {
  display: flex;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto auto;
}

.fullscreenHeroText {
  width: 50%;
  padding: 0 8% 0 16%;
  & > div {
    margin: 0;
  }
}

.fullscreenSection {
  width: 48%;
  height: 100vh;
  padding: 90px 34px;
}

.textBlock {
  transform: translate3d(0, 0, 0);
}

.ScrollIndicatorWrapper {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #252525;
  margin: auto auto 6rem;
  cursor: pointer;
  svg {
    width: 12px;
  }
  &.dark {
    border-color: var(--color-dark-copy);
    svg {
      fill: var(--color-dark-copy);
    }
  }

  &.light {
    border-color: var(--color-light-copy);
    svg {
      fill: var(--color-light-copy);
    }
  }
}
