@import 'styles/index';

.base {
  position: relative;
  margin-top: 0;
}

.topOffset {
  margin-top: -75px;
}

.scrollLockMedia {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.scrollingContent {
  position: relative;
  padding-top: 0;
  margin-top: -100vh;

  .topOffset & {
    padding-top: 75px;
  }
}

.fullscreenHero {
  display: flex;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto auto;
}

.innerWrapper {
  width: 100%;
  padding: 90px 20px 20px;
  margin-left: 0;

  @media (--viewport-md) {
    width: calc(100% * 7 / 12);
    padding: 94px 0 0;
    margin-left: 33.33332%;
  }

  @media (--viewport-lg) {
    width: calc(100% * 5 / 12);
    max-width: 590px;
    padding: 120px 0 0;
    margin-left: 15%;
  }
}

.scrollIndicator {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--color-grey-10);
  margin: auto auto 60px;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  svg {
    width: 12px;
  }

  .dark & {
    border-color: var(--color-dark-copy);

    svg {
      fill: var(--color-dark-copy);
    }
  }

  .light & {
    border-color: var(--color-light-copy);

    svg {
      fill: var(--color-light-copy);
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .scrollingContent {
    margin-top: 0;
  }
  .scrollLockMedia {
    position: absolute;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
  }
  .backgroundElement {
    position: fixed;
    top: 0;
    left: 0;
  }
}
