@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  animation: fade-in 0.3s ease-in;

  @media (--viewport-md) {
    flex-wrap: nowrap;
  }
}
