@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  padding: 0 0 23px;

  @media (--viewport-md) {
    padding: 23px 0 0;
  }

  @media (--viewport-lg) {
    padding: 0 0 18px;
  }

  @media (--viewport-xl) {
    padding: 0 0 23px;
  }
}

.productTitle {
  margin-bottom: 15px;
  letter-spacing: -0.0125em;

  @media (--viewport-md-only) {
    position: absolute;
    left: calc(-50vw + 34px);
    width: 100%;
    padding-right: 20px;
  }

  @media (--viewport-lg) {
    margin-bottom: 10px;
  }

  @media (--viewport-md-only) {
    margin-top: 0;
  }
}

.productDesc {
  padding-top: 4px;
  line-height: 1.7;

  @media (--viewport-lg) {
    font-size: rem(14px);
    line-height: 1.4;
  }
}
