@import 'styles/index';

.base {
  position: relative;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  transition-delay: 0ms;
  transition-duration: 1000ms;
  transition-property: width;
  transition-timing-function: var(--easing-ease-out-cubic);

  &,
  & * {
    box-sizing: border-box;
  }

  &.isCompressed {
    width: 10%;
    cursor: pointer;

    @media (--viewport-xxl) {
      width: 20%;
    }

    @media (--viewport-xxxl) {
      width: 33.33%;
    }

    @media (--viewport-xxxxl) {
      width: 41%;
    }
  }

  @media (--viewport-sm-only) {
    padding: 0 20px;

    &.isCompressed {
      width: 100%;
      cursor: default;
    }
  }
}

.closedForegroundImage {
  display: block;
  margin: 0 auto;

  img {
    width: auto;
    max-height: 200px;

    @media (--viewport-md) {
      max-height: 240px;
    }

    @media (--viewport-lg) {
      max-height: 300px;
    }
  }
}

.closedBackgroundVideo {
  height: 100%;
}

.openBackgroundVideo {
  height: 100%;
}

.openBackgroundImage,
.closedBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.productImage {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.accordionDefaultContent {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-delay: 0ms;
  transition-duration: 400ms;
  transition-property: opacity;
  transition-timing-function: linear;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  & > div {
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
}

.accordionExpanded {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  opacity: 0;
  transition-delay: 0ms;
  transition-duration: 100ms;
  transition-property: opacity;
  transition-timing-function: var(--easing-ease-out-cubic);

  &.open {
    opacity: 1;
  }
}

.accordionExpandedContent {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition-delay: 800ms;
  transition-duration: 1000ms;
  transition-property: opacity;
  transition-timing-function:
    var(--easing-ease-out-cubic),
    var(--easing-ease-out-cubic);

  @media (--viewport-sm-md-only) {
    flex-direction: column;
  }

  @media (--viewport-md) {
    justify-content: space-around;
    padding: 34px;
  }

  @media (--viewport-lg) {
    justify-content: flex-start;
    padding: 40px;
  }
}

.open .accordionExpandedContent {
  opacity: 1;
}

.expandedAccordionImage {
  position: relative;
  min-height: 100px;
  max-height: 280px;

  @media (--viewport-sm-md-only) {
    width: 100%;
    flex: 1;
    margin-top: 60px;
    margin-bottom: 30px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center bottom;
    }
  }

  @media (--viewport-md) {
    max-height: 350px;
  }

  @media (--viewport-lg) {
    width: 33.33%;
    max-height: 420px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.expandedAccordionText {
  @media (--viewport-md) {
    width: 100%;
  }

  @media (--viewport-lg) {
    width: 66.66%;
    max-width: 640px;
  }
}

.closedStateForegroundImageWrap {
  display: block;
  width: 100%;
  margin-top: 40px;
  cursor: pointer;

  @media (--viewport-md) {
    margin-top: 80px;
  }

  &:focus {
    outline: 0;
  }
}

.closeBtn {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 40px;
  margin: 0;
  font-size: rem(16px);
}

.openBtn {
  font-size: rem(16px);
}

.openBtn,
.closeBtn {
  padding: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
  background: none;
  color: var(--color-dark-copy);
  cursor: pointer;
  font-family: var(--font-family-sans-serif-regular);

  &:focus {
    outline: 0;
  }

  &.light {
    color: var(--color-light-copy);
  }
}

.accordionDefaultBackground {
  height: 100%;
}

.accordionOpenCopy,
.accordionClosedCopy {
  padding: 0;
  margin-bottom: 10px;
  color: var(--color-dark-copy);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(16px);

  &.light {
    color: var(--color-light-copy);
  }
}

.openStateHeading {
  margin-bottom: 20px;
}

.openStateEyebrow {
  margin-bottom: 20px;
}

.accordionOpenCopy {
  margin-bottom: 30px;
}
