@import 'styles/index';

.base {
  position: relative;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  transition: width 100ms 40ms;

  &.isCompressed {
    width: 10%;
    cursor: pointer;
  }

  @media (--viewport-sm-only) {
    padding: 0 20px;

    &.isCompressed {
      width: 100%;
      cursor: default;
    }
  }
}

.closedForegroundImage {
  display: block;
  width: 50%;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}

.closedBackgroundVideo {
  height: 100%;
}

.openBackgroundVideo {
  height: 100%;
}

.openBackgroundImage,
.closedBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.productImage {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.accordionDefaultContent {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: opacity 40ms 140ms;

  &.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 40ms, height 0ms 140ms, width 0ms 40s;
  }

  & > div {
    padding: 20px;
    text-align: center;
  }
}

.accordionExpanded {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  opacity: 0;
  transition: opacity 80ms 140ms;

  &.open {
    opacity: 1;
    transition: opacity 80ms 0ms;
  }
}

.accordionExpandedContent {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transform: translate3d(0, 25%, 0);
  transition: transform 0s 200ms, opacity 40ms 0ms;

  @media (--viewport-sm-only) {
    flex-direction: column;
  }
}

.open .accordionExpandedContent {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 200ms 40ms ease, opacity 80ms 180ms;
}

.expandedAccordionImage {
  position: relative;
  width: 30%;

  @media (--viewport-sm-only) {
    width: 100%;
    flex: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center bottom;
    }
  }
}

.expandedAccordionText {
  width: 66.6%;
  max-width: 600px;
}

.closedStateForegroundImageWrap {
  display: block;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.buttonGroup {
  display: flex;
  margin: 34px 0 0;

  button,
  a {
    flex: 1;
  }

  button {
    margin: 0 4px 0 0;
  }

  @media (--viewport-sm-only) {
    display: block;

    button {
      margin: 0 0 4px;
    }
  }
}

.closeBtn {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  margin: 0;
  font-size: rem(17px);
}

.openBtn {
  margin: 0 0 40px;
  font-size: rem(16px);
}

.openBtn,
.closeBtn {
  padding: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid;
  border-left: none;
  background: none;
  color: var(--color-dark-copy);
  cursor: pointer;
  font-family: var(--font-family-sans-serif-regular);

  &:focus {
    outline: 0;
  }

  &.light {
    color: var(--color-light-copy);
  }
}

.accordionDefaultBackground {
  height: 100%;
}

.accordionOpenCopy,
.accordionClosedCopy {
  padding: 0;
  margin-bottom: 10px;
  color: var(--color-dark-copy);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(16px);

  &.light {
    color: var(--color-light-copy);
  }
}
