@import 'styles/index';

.base {
  display: block;
  padding: 15px;
}

.category {
  padding-bottom: 15px;

  /* padding: 10px 10px 10px 0; */
  border-bottom: 1px solid var(--color-grey-60);
  font-size: rem(16px);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0;
  line-height: 1.5;

  &::after {
    display: inline-block;
    padding: 0 10px;
    border-bottom-color: var(--color-dark-copy);
    content: '\2022';
    font-size: rem(20px);
    line-height: 1;
    transform: translateY(3px);
  }
}

.title {
  border-bottom: 1px solid transparent;
  color: var(--color-grey-20);
  font-family: var(--font-family-zapf-serif);
  font-size: rem(30px);
  letter-spacing: 0;
  line-height: 1.2;
  transition: all 500ms var(--easing-ease-in-cubic);
}

.title:hover {
  border-bottom: 1px solid var(--color-secondary);
}

.titleActive {
  border-bottom: 1px solid var(--color-secondary);
  transition: all 500ms var(--easing-ease-in-cubic);
}

.image:hover img {
  filter: grayscale(100%);
  transition: all 500ms var(--easing-ease-in-cubic);
}

.note {
  color: var(--color-grey-30);
}

.nonMobile {
  display: none;
  @media (--viewport-md) {
    display: block;
  }
}

.mobile {
  @media (--viewport-sm) {
    display: block;
  }
  @media (--viewport-md) {
    display: none;
  }
}
