@import 'styles/index';

.base {
  display: block;

  h1 {
    margin: 0;
    font-weight: normal;
  }

  @media (--viewport-sm-only) {
    padding-bottom: 50px;
  }

  @media (--viewport-md-only) {
    &.readMoreArticle {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (--viewport-lg) {
    &.readMoreArticle {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.category {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--color-grey-rgba-20);
  margin-bottom: 9px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  font-weight: medium;
  letter-spacing: 0;
  line-height: 1.7;

  &.readMoreCategory {
    margin-top: 20px;
    margin-bottom: 14px;
    line-height: 1.5;
  }

  &::after {
    display: inline-block;
    padding: 0 10px;
    border-bottom-color: var(--color-dark-copy);
    content: '\2022';
    font-size: rem(14px);
    line-height: 1.7;
  }
}

.title h1 {
  @extend %zaph-serif-typography;

  padding-bottom: 1.5px;
  border-bottom: 1px solid transparent;
  color: var(--color-grey-20);
  font-size: rem(30px);
  letter-spacing: 0;
  line-height: 1.2;
  transition: all 500ms var(--easing-ease-in-cubic);

  @media (--viewport-sm-only) {
    font-size: rem(20px);
  }

  @media (--viewport-md-only) {
    font-size: rem(26px);
  }
}

.readMoreTitle h1 {
  font-size: rem(24px);
  line-height: 1.25;
}

.title:hover h1 {
  border-bottom: 1px solid var(--color-secondary);
}

.titleActive {
  border-bottom: 1px solid var(--color-secondary) !important;
  transition: all 500ms var(--easing-ease-in-cubic) !important;
}

.image:hover img {
  filter: grayscale(100%);
  transition: all 500ms var(--easing-ease-in-cubic);
}

.imageActive {
  filter: grayscale(100%);
  transition: all 500ms var(--easing-ease-in-cubic);
}

.imageUnactive {
  filter: grayscale(0);
  transition: all 500ms var(--easing-ease-in-cubic);
}

.note {
  margin: 15px 0;
  color: var(--color-grey-30);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(16px);
  letter-spacing: 0;
  line-height: 1.5;

  &.readMoreNote {
    @media (--viewport-sm-only) {
      font-size: rem(14px);
      line-height: 1.7;
    }
  }
}

.nonMobile {
  display: none;

  @media (--viewport-md) {
    display: block;
  }
}

.mobile {
  @media (--viewport-sm-only) {
    display: block;
  }

  @media (--viewport-md) {
    display: none;
  }
}
