@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  @media (--viewport-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.column {
  padding-right: var(--layout-sm-spacing);
  padding-left: var(--layout-sm-spacing);

  @media (--viewport-md) {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.wrapper {
  margin-bottom: rem(30px);

  li:not(:last-child) {
    margin-bottom: 5px;
  }
}
