@import 'styles/index';

.base {
  position: relative;
}

.list {
  position: relative;
  display: flex;
  height: 2px;
  padding: 0;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: none;

  &.dark {
    background-color: var(--color-grey-63);

    :global(.slick-active) {
      background-color: var(--color-dark-copy);
    }
  }

  &.light {
    background-color: var(--color-grey-40);

    :global(.slick-active) {
      background-color: var(--color-light-copy);
    }
  }

  @media (--viewport-md) {
    margin-right: 40px;
    margin-left: 40px;
  }

  @media (--viewport-lg) {
    margin-right: 80px;
    margin-bottom: 40px;
    margin-left: 80px;
  }

  li {
    flex-grow: 1;
    margin: 0;
    transition: background-color 700ms var(--easing-ease-out-cubic);
  }
}

.flush.flush {
  margin-right: 0;
  margin-left: 0;
}

.bar {
  position: absolute;
  height: 2px;
  padding: 0;
  margin: 0;
  background-color: var(--color-light-copy);
  transition: left 1000ms var(--easing-ease-out-cubic);

  .dark & {
    background-color: var(--color-dark-copy);
  }

  .light & {
    background-color: var(--color-light-copy);
  }
}
