@import 'styles/index';

.base {
  position: relative;
}

.list {
  position: relative;
  display: flex;
  height: 2px;
  padding: 0;
  margin: 0 20px 20px;
  list-style-type: none;

  &.dark {
    background-color: var(--color-grey-20);

    :global {
      .slick-active {
        background-color: var(--color-dark-copy);
      }
    }
  }

  &.light {
    background-color: var(--color-grey-60);

    :global {
      .slick-active {
        background-color: var(--color-light-copy);
      }
    }
  }

  @media (--viewport-md) {
    margin: 0 40px 20px;
  }

  @media (--viewport-lg) {
    margin: 0 80px 40px;
  }

  li {
    flex-grow: 1;
    margin: 0;
    transition: background-color 700ms var(--easing-ease-out-cubic);
  }
}

.bar {
  position: absolute;
  height: 2px;
  padding: 0;
  margin: 0;
  background-color: var(--color-light-copy);
  transition: left 1000ms var(--easing-ease-out-cubic);
}
