@import 'styles/index';

.base {
  &,
  & * {
    box-sizing: border-box;
  }

  @media (--viewport-md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.column {
  @media (--viewport-md) {
    max-width: 217.3px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  @media (--viewport-lg) {
    max-width: 233.6px;

    &:not(:last-child) {
      margin-right: 115px;
    }
  }
}

.wrapper {
  margin-bottom: 60px;
}

.heading {
  font-size: 24px;
}

.item {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.4;

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }
}

.link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: all 300ms var(--easing-ease-in-sine);

  &:hover,
  &:focus {
    text-decoration: none;

    .dark & {
      border-bottom-color: var(--color-dark-link-hover);
      color: var(--color-dark-link-hover);
    }

    .light & {
      border-bottom-color: var(--color-light-link-hover);
      color: var(--color-light-link-hover);
    }
  }
}
