@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
}

.checkoutButton {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: var(--color-white-dark);
  color: var(--color-black);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  text-align: center;

  &:focus {
    outline-color: var(--color-grey-20);
  }

  &:focus,
  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

.subTotalContainer {
  position: relative;
  padding: 30px 0 28px 0;
}

.subTotalLabel {
  color: var(--color-grey-60);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(15px);
}

.subTotalPrice {
  position: absolute;
  top: 25px;
  right: 0;
  color: var(--color-white);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(24px);
}
