@import 'styles/variables/index';

%transition-opacity-500ms-linear {
  transition: opacity 500ms linear;
}

%transition-opacity-1500ms-linear {
  transition: opacity 1500ms linear;
}

%transition-transform-500ms-ease-out-opacity-500ms-linear {
  transition:
    transform 500ms var(--easing-ease-out-cubic),
    opacity 500ms linear;
}

%transition-transform-1500ms-ease-out-opacity-1500ms-linear {
  transition:
    transform 1500ms var(--easing-ease-out-cubic),
    opacity 1500ms linear;
}

%transition-transform-500ms-ease-out-visibility-500ms-ease-out {
  transition:
    transform 500ms var(--easing-ease-out-cubic),
    visibility 500ms var(--easing-ease-out-cubic);
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  @extend %transition-opacity-500ms-linear;

  opacity: 1;
}

.fadeEnterDone {
  opacity: 1;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  @extend %transition-opacity-500ms-linear;

  opacity: 0;
}

.fadeExitDone {
  opacity: 0;
}

.shiftInDownEnter {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.shiftInDownEnterActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInDownEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInDownExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInDownExitActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.shiftInDownExitDone {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.shiftInUpEnter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.shiftInUpEnterActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInUpEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInUpExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInUpExitActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.shiftInUpExitDone {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.shiftInLeftEnter {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.shiftInLeftEnterActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInLeftEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInLeftExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInLeftExitActive {
  @extend %transition-transform-1500ms-ease-out-opacity-1500ms-linear;

  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.shiftInLeftExitDone {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.slideDownEnter {
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
}

.slideDownEnterActive {
  @extend %transition-transform-500ms-ease-out-visibility-500ms-ease-out;

  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideDownEnterDone {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideDownExit {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideDownExitActive {
  @extend %transition-transform-500ms-ease-out-visibility-500ms-ease-out;

  transform: translate3d(0, -100%, 0);
  visibility: hidden;
}

.slideDownExitDone {
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
}

.slideRightEnter {
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}

.slideRightEnterActive {
  @extend %transition-transform-500ms-ease-out-visibility-500ms-ease-out;

  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideRightEnterDone {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideRightExit {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideRightExitActive {
  @extend %transition-transform-500ms-ease-out-visibility-500ms-ease-out;

  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}

.slideRightExitDone {
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}

.slowFadeEnter {
  opacity: 0;
}

.slowFadeEnterActive {
  @extend %transition-opacity-1500ms-linear;

  opacity: 1;
}

.slowFadeEnterDone {
  opacity: 1;
}

.slowFadeExit {
  opacity: 1;
}

.slowFadeExitActive {
  @extend %transition-opacity-1500ms-linear;

  opacity: 0;
}

.slowFadeExitDone {
  opacity: 0;
}

.zoomEnter {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
}

.zoomEnterActive {
  @extend %transition-transform-500ms-ease-out-opacity-500ms-linear;

  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.zoomEnterDone {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.zoomExit {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.zoomExitActive {
  @extend %transition-transform-500ms-ease-out-opacity-500ms-linear;

  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
}

.zoomExitDone {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
}
