@import 'styles/variables/index';

:root {
  --transitionValueOpacity500msLinear: opacity 500ms linear;
  --transitionValueOpacity1500msLinear: opacity 1500ms linear;
  --transitionValueTransform500msEaseOut: transform 500ms var(--easing-ease-out-cubic);
  --transitionValueTransform1500msEaseOut: transform 1500ms var(--easing-ease-out-cubic);
  --transitionValueVisibility500msEaseOut: visibility 500ms var(--easing-ease-out-cubic);
}

.fadeEnter {
  opacity: 0;
  transition: var(--transitionValueOpacity500msLinear);
}

.fadeEnterActive {
  opacity: 1;
}

.fadeEnterDone {
  opacity: 1;
  transition: var(--transitionValueOpacity500msLinear);
}

.fadeExit {
  opacity: 1;
  transition: var(--transitionValueOpacity500msLinear);
}

.fadeExitActive {
  opacity: 0;
}

.fadeExitDone {
  opacity: 0;
  transition: var(--transitionValueOpacity500msLinear);
}

.shiftInDownEnter {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInDownEnterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInDownEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInDownExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInDownExitActive {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.shiftInDownExitDone {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInUpEnter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInUpEnterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInUpEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInUpExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInUpExitActive {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.shiftInUpExitDone {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInLeftEnter {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInLeftEnterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.shiftInLeftEnterDone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInLeftExit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.shiftInLeftExitActive {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.shiftInLeftExitDone {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition:
    var(--transitionValueTransform1500msEaseOut),
    var(--transitionValueOpacity1500msLinear);
}

.slideDownEnter {
  transform: translate3d(0, -100%, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: hidden;
}

.slideDownEnterActive {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideDownEnterDone {
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: visible;
}

.slideDownExit {
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: visible;
}

.slideDownExitActive {
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
}

.slideDownExitDone {
  transform: translate3d(0, -100%, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: hidden;
}

.slideRightEnter {
  transform: translate3d(-100%, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: hidden;
}

.slideRightEnterActive {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.slideRightEnterDone {
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: visible;
}

.slideRightExit {
  transform: translate3d(0, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: visible;
}

.slideRightExitActive {
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}

.slideRightExitDone {
  transform: translate3d(-100%, 0, 0);
  transition:
    var(--transitionValueTransform500msEaseOut),
    var(--transitionValueVisibility500msEaseOut);
  visibility: hidden;
}

.slowFadeEnter {
  opacity: 0;
  transition: var(--transitionValueOpacity1500msLinear);
}

.slowFadeEnterActive {
  opacity: 1;
}

.slowFadeEnterDone {
  opacity: 1;
  transition: var(--transitionValueOpacity1500msLinear);
}

.slowFadeExit {
  opacity: 1;
  transition: var(--transitionValueOpacity1500msLinear);
}

.slowFadeExitActive {
  opacity: 0;
}

.slowFadeExitDone {
  opacity: 0;
  transition: var(--transitionValueOpacity1500msLinear);
}

.zoomEnter {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: var(--transitionValueTransform500msEaseOut), var(--transitionValueOpacity500msLinear);
}

.zoomEnterActive {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.zoomEnterDone {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: var(--transitionValueTransform500msEaseOut), var(--transitionValueOpacity500msLinear);
}

.zoomExit {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: var(--transitionValueTransform500msEaseOut), var(--transitionValueOpacity500msLinear);
}

.zoomExitActive {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
}

.zoomExitDone {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: var(--transitionValueTransform500msEaseOut), var(--transitionValueOpacity500msLinear);
}
