@import 'styles/index';

.base {
  font-family: var(--font-family-sans-serif-regular);

  &:not(:last-child) {
    margin-bottom: var(--layout-sm-spacing);
  }

  @media (--viewport-md) {
    &:not(:last-child) {
      margin-bottom: var(--layout-md-spacing);
    }
  }

  @media (--viewport-lg) {
    &:not(:last-child) {
      margin-bottom: var(--layout-lg-spacing);
    }
  }
}

.contentWrapper {
  margin-top: 30px;
  font-size: rem(16px);

  a {
    font-family: var(--font-family-sans-serif-medium);
    font-size: rem(14px);
  }
}

.copy {
  &,
  p {
    font-size: rem(16px);
    line-height: 1.7;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      font-weight: var(--font-weight-normal);
    }
  }
}

.dark {
  .copy {
    &,
    p {
      @extend %font-theme-dark-copy;
    }

    a {
      color: var(--color-dark-link);

      &:hover,
      &:focus {
        color: var(--color-dark-link-hover);
      }
    }
  }
}

.light.light {
  .copy {
    &,
    p {
      @extend %font-theme-light-copy;
    }

    a {
      color: var(--color-light-link);

      &:hover,
      &:focus {
        color: var(--color-light-link-hover);
      }
    }
  }
}
