@import 'styles/variables/index';

.base {
  padding: 20px;
  color: var(--color-body-copy);
  font-family: var(--font-family-sans-serif-regular);
}

.hasLightText {
  color: var(--color-white);
}

.TextOverHero {
  .heading,
  .subHeading {
    margin: 0;
  }

  .subHeading {
    padding-top: 5px;
  }

  .copy {
    margin: 30px 0 0;
  }

  a {
    width: 100%;
    margin-top: 30px;

    @media (--viewport-md) {
      width: auto;
    }
  }
}

.TwoColumn {
  .heading {
    font-family: var(--font-family-zapf-serif);
  }
}

.HalfWidthFullBleedHero {
  .eyebrow {
    padding: 0 0 19px;

    @media (--viewport-lg) {
      padding: 0 0 14px;
      margin-top: 60px;
    }

    @media (--viewport-xl) {
      padding: 0 0 19px;
    }
  }

  .heading {
    padding: 0 0 17px 0;
    border-bottom: 2px solid var(--color-grey-10);
    font-family: var(--font-family-zapf-serif);

    @media (--viewport-md) {
      padding: 0 0 12px;
    }

    @media (--viewport-xl) {
      padding: 0 0 17px;
    }
  }
}

.copy p {
  margin: 10px 0;
  font-size: rem(17px);
  line-height: 1.7;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  a {
    color: var(--color-grey-20);
    font-weight: var(--font-weight-normal);
    text-decoration: underline;
  }
}

.quote {
  margin-bottom: 30px;
  font-family: var(--font-family-zapf-serif);
  font-size: rem(26px);
  line-height: 1.5;
}

.ctaWrapper {
  margin-top: 20px;
}
