@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  color: var(--color-grey-60);
  font-size: rem(13px);

  @media (--viewport-md) {
    font-size: rem(14px);
  }

  @media (--viewport-lg) {
    font-size: rem(15px);
  }

  p {
    color: var(--color-grey-60);
  }
}
