@import 'styles/index';

.paragraph {
  margin: 0;
  margin-bottom: 30px;
  font-size: rem(14px);
  line-height: 1.6;
}

.base {
  @extend .paragraph;

  font-family: var(--font-family-sans-serif-regular);
}

.large {
  font-size: 16px;
  line-height: 1.7;
}

.serifFont {
  @extend %zaph-serif-typography;
}

.hero {
  font-size: rem(24px);
  line-height: 1.33;

  &.serifFont {
    font-size: rem(25px);
  }

  @media (--viewport-md) {
    font-size: rem(26px);

    &.serifFont {
      font-size: rem(30px);
    }
  }

  @media (--viewport-lg) {
    font-size: rem(30px);

    &.serifFont {
      font-size: rem(30px);
    }
  }
}

.flush {
  margin-bottom: 10px;
}

.dark {
  &,
  & p {
    @extend %font-theme-dark-copy;
  }
}

.light {
  &,
  & p {
    @extend %font-theme-light-copy;
  }
}

.set {
  p {
    @extend .paragraph;
  }
}
