@import 'styles/index';

.paragraph {
  margin: rem(16px) 0;
  color: var(--color-body-copy);
  line-height: 1.6;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.base {
  @extend .paragraph;

  font-family: var(--font-family-sans-serif-regular);
}

.set {
  p {
    @extend .paragraph;
  }
}
