@import 'styles/variables/index';

.paragraph {
  margin: rem(16px) 0;
  color: var(--color-body-copy);

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.base {
  @extend .paragraph;
}

.set {
  p {
    @extend .paragraph;
  }
}
