@import 'styles/index';

.figure {
  margin-bottom: calc(var(--layout-sm-spacing) * 2);

  @media (--viewport-md) {
    flex: 0 0 calc(50% - var(--layout-md-spacing) / 4);
    flex-basis: calc(50% - var(--layout-lg-spacing) / 4);
    margin-bottom: auto;
    margin-bottom: 0;
  }

  @media (--viewport-lg) {
    flex: 0 0 calc(50% - var(--layout-lg-spacing) / 4);
    flex-basis: calc(50% - var(--layout-lg-spacing) / 4);
  }
}

.imageLinkWrapper {
  display: block;
}

.figcaption {
  padding-right: var(--layout-sm-spacing);

  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }

  @media (--viewport-md) {
    padding-right: var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    padding-right: var(--layout-lg-spacing);
  }
}

.caption {
  margin-top: var(--layout-sm-spacing);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.6;

  &.dark {
    color: var(--color-dark-copy);
  }

  &.light {
    color: var(--color-light-copy);
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
