@import 'styles/index';

.figure {
  &:first-of-type {
    margin-bottom: 45px;
  }

  @media (--viewport-md) {
    flex: 0 0 calc(50% - var(--layout-md-spacing) / 4);
    flex-basis: calc(50% - var(--layout-lg-spacing) / 4);
    margin-bottom: auto;
    margin-bottom: 0;
  }

  @media (--viewport-lg) {
    flex: 0 0 calc(50% - var(--layout-lg-spacing) / 4);
    flex-basis: calc(50% - var(--layout-lg-spacing) / 4);
  }
}

.heading {
  margin: 0 0 20px 0;
}

.heading span {
  border-bottom: 1px solid transparent;
  font-size: rem(16px);
  letter-spacing: 0;
  line-height: 1.6;
}

.headingLink span {
  transition: border 500ms var(--easing-ease-in-cubic);
}

.headingWrapper {
  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }
}

.headingWrapper span {
  font-family: var(--font-family-sans-serif-medium);
  font-weight: var(--font-weight-normal);
}

.headingLink span:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .dark & {
    border-bottom-color: var(--color-dark-link-hover);
  }

  .light & {
    border-bottom-color: var(--color-light-link-hover);
  }
}

.imageLinkWrapper {
  display: block;
}

.imageLinkWrapper:hover + .figcaption .headingLink span {
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .dark & {
    border-bottom-color: var(--color-dark-link-hover);
  }

  .light & {
    border-bottom-color: var(--color-light-link-hover);
  }
}

.figcaption {
  margin-top: 20px;

  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }

  @media (--viewport-lg) {
    margin-top: 30px;
  }
}

.caption {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.6;

  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
