@import 'styles/variables/index';

.base {
}

.description {
  margin: 0 0 25px;
  color: var(--color-grey-30);
  font-size: rem(14px);
  line-height: 1.6;

  @media (min-width: 1025px) {
    & {
      width: 84%;
    }
  }
}

.input {
  input {
    padding-right: 24px;
  }
}

.inputWrapper {
  position: relative;

  @media (min-width: 1025px) {
    & {
      width: 84%;
    }
  }
}

.submitButton {
  position: absolute;
  top: 26px;
  right: 0;
  min-width: inherit;
  padding: 0;
  border: 0;

  font-size: 30px;

  &,
  &:hover,
  &:focus {
    background-color: transparent;
  }
}
