@import 'styles/index';

.base {
  display: none;
  @media (--viewport-md) {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    grid-column-gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
  }
  @media (--viewport-lg) {
    grid-column-gap: 40px;
  }
}

.mobile {
  @media (--viewport-md) {
    display: none;
  }
  @media (--viewport-lg) {
    display: none;
  }
}

.mobileMiddleRow {
  display: flex;
  flex: 2;
  flex-direction: row;
}

.middleArticle {
  flex: 1;
}

.leftMiddleArticle {
  padding-right: 10px;
}

.rightMiddleArticle {
  padding-left: 10px;
}

.article {
  @media (--viewport-md) {
    margin-bottom: 50px;
  }
  @media (--viewport-lg) {
    margin-bottom: 70px;
  }
}

.nonFirstRow {
  grid-row: 1 / 3;
}

.top-left-0 {
  align-self: end;
  grid-column: 1 / 4;
}

.top-right-0 {
  align-self: end;
  grid-column: 4 / 6;
  grid-row-end: span 2;
}

.bottom-left-0 {
  align-self: end;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.bottom-right-0 {
  grid-column: 3 / 6;
}

.top-left-1 {
  align-self: end;
  grid-column: 1 / 3;
  grid-row-end: span 2;
}

.top-right-1 {
  align-self: end;
  grid-column: 3 / 6;
}

.bottom-left-1 {
  grid-column: 1 / 4;
}

.bottom-right-1 {
  align-self: end;
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}

@media all and (-ms-high-contrast: none) {
  .base {
    @media (--viewport-md) {
      display: -ms-grid;
      -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
      -ms-grid-rows: auto 1fr;
    }
    @media (--viewport-lg) {
      -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
    }
  }

  .nonFirstRow {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
  }

  .top-left-0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .top-right-0 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
  }

  .bottom-left-0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
  }

  .bottom-right-0 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
  }

  .top-left-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
  }

  .top-right-1 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
  }

  .bottom-left-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
  }

  .bottom-right-1 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
  }
}
