@import 'styles/index';

.base {
  position: relative;
  display: inline-block;
  font-family: var(--font-family-sans-serif-regular);
  font-size: inherit;
  font-weight: var(--font-weight-normal);
  outline: none;
  text-decoration: none;

  &,
  & * {
    box-sizing: border-box;
  }
}

.icon {
  display: inline-block;

  svg {
    width: 12px;
    max-height: 12px;

    path {
      transition: fill 150ms var(--easing-ease-in-out-cubic);
    }
  }
}

.blockStyle {
  display: inline-block;
  min-width: 210px;
  max-width: 300px;
  height: 60px;
  padding: 19px 23px;
  border-width: 1px;
  border-style: solid;
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  line-height: 1.4;
  transition: all 200ms var(--easing-ease-in-out-cubic);

  @media (--viewport-sm-only) {
    width: 100%;
    max-width: 100%;
  }

  &.hasIcon {
    padding-right: 55px;
  }

  .icon {
    position: absolute;
    top: calc(50% - 6px);
    right: 23px;
    font-size: 0;
    line-height: 1;
  }
}

.blockStyle.hasExternalIcon .icon {
  top: calc(50% - 5px);
}

.dark {
  @extend %font-theme-dark-link;

  .icon.icon {
    svg {
      path {
        fill: var(--color-dark-background);
      }
    }
  }

  &.blockStyle {
    border-color: var(--color-grey-rgba-20);

    .icon {
      svg {
        path {
          fill: var(--color-dark-background);
        }
      }
    }

    &:hover,
    &:focus {
      border-color: var(--color-dark-background);
      background-color: var(--color-dark-background);
      color: var(--color-light-link);

      .icon {
        svg {
          path {
            fill: var(--color-light-link);
          }
        }
      }
    }

    &.alternate {
      border-color: var(--color-dark-background);
      background-color: var(--color-dark-background);
      color: var(--color-light-link-hover);

      &:hover,
      &:focus {
        border-color: var(--color-black);
        background-color: var(--color-black);
      }
    }
  }
}

.light.light {
  @extend %font-theme-light-link;

  .icon.icon {
    svg {
      path {
        fill: var(--color-white);
      }
    }
  }

  &.blockStyle {
    border: 1px solid var(--color-white);

    .icon {
      svg {
        path {
          fill: var(--color-white);
        }
      }
    }

    &:focus,
    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark-copy);

      .icon {
        svg {
          path {
            fill: var(--color-dark-copy);
          }
        }
      }
    }

    &.alternate {
      border-color: var(--color-light-link-hover);
      background-color: var(--color-light-link-hover);
      color: var(--color-dark-copy);

      &:hover,
      &:focus {
        border-color: var(--color-white);
        background-color: var(--color-white);
      }
    }
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
