@import 'styles/index';

%user-input {
  padding: 0;
  border: 0;
  margin: 0;
  line-height: 1.5;
  outline: none;
  text-overflow: ellipsis;

  &.dark {
    color: var(--color-dark-copy);
  }

  &.light {
    color: var(--color-light-copy);
  }
}

.base {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  font-weight: var(--font-weight-normal);
  list-style: none;

  &,
  & * {
    box-sizing: border-box;
  }
}

.radio {
  padding: 0;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.input {
  @extend %user-input;

  position: fixed;
  width: 0;
  cursor: pointer;
  opacity: 0;
}

.label {
  cursor: pointer;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
}

.labelContent {
  padding-left: 10px;

  &.dark {
    color: var(--color-dark-label);
  }

  &.light {
    color: var(--color-light-label);
  }

  .input:checked ~ &.dark {
    color: var(--color-grey-10);
  }

  .input:checked ~ &.light {
    color: var(--color-grey-90);
  }
}

.singleLabel {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);

  &.dark {
    color: var(--color-dark-copy);
  }

  &.light {
    color: var(--color-light-copy);
  }
}

.pot {
  position: relative;
  z-index: 1;
  width: 13px;
  height: 13px;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  border-radius: 100%;
  float: left;
  transform: translateY(3px);
  transition: all 0.5s ease;
  transition: border-color 0.2s var(--easing-ease-out-cubic);

  &.dark {
    border-color: var(--color-grey-30);
  }

  &.light {
    border-color: var(--color-grey-60);
  }

  &::after {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    display: block;
    background-color: transparent;
    border-radius: 100%;
    content: '';
    transition: background-color 0.2s var(--easing-ease-in-out-cubic);
  }

  .input:hover ~ &.dark::after {
    background-color: var(--color-grey-50);
  }

  .input:hover ~ &.light::after {
    background-color: var(--color-grey-65);
  }

  .input:checked ~ &.dark::after {
    background-color: var(--color-grey-30);
  }

  .input:checked ~ &.light::after {
    background-color: var(--color-grey-60);
  }
}
