@import 'styles/index';

.base {
  position: relative;
  background-color: var(--color-grey-10);
}

.block {
  display: grid;
  display: -ms-grid;
  padding: 35px 20px;
  border-bottom: 3px solid #d6d5cb;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  @media (--viewport-md) {
    padding: 40px 25px;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }
  @media (--viewport-lg) {
    padding: 50px 40px;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
  }
}

.bottom {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--color-light-copy);
  font-family: var(--font-family-sans-serif-regular);
  @media (--viewport-md) {
    padding-right: 25px;
    padding-left: 25px;
  }
  @media (--viewport-lg) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.signup {
  grid-column: 1 / 3;
  @media (--viewport-md-only) {
    grid-column: 1 / 4;
  }
  @media (--viewport-lg) {
    margin-top: 10px;
  }
}

.item {
  grid-column: 1 span;
}

.wideItem {
  grid-column: 1 span;
  @media (--viewport-lg) {
    grid-column: 2 span;
  }
}

.iconLinks {
  margin-left: 45px;
}

/* Handle the grid css to support IE */
@media all and (-ms-high-contrast: none) {
  @media (--viewport-sm-only) {
    .block {
      -ms-grid-columns: 1fr 20px 1fr;
      -ms-grid-rows: 1fr 50px 1fr 50px 1fr 50px 1fr;
    }

    .signup {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    .item:nth-of-type(2n + 0) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(2n + 1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(-n + 2) {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }

    .item:nth-of-type(3),
    .item:nth-of-type(4) {
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
    }

    .item:nth-of-type(5),
    .item:nth-of-type(6) {
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
    }
  }

  @media (--viewport-md-only) {
    .block {
      -ms-grid-columns: 1fr 35px 1fr 35px 1fr;
      -ms-grid-rows: 1fr 35px 1fr 35px 1fr;
    }

    .signup {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }

    .item:nth-of-type(3n + 0) {
      -ms-grid-column: 5;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(3n + 1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(3n + 2) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(-n + 3) {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }

    .item:nth-of-type(n + 4) {
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
    }
  }

  @media (--viewport-lg) {
    .block {
      -ms-grid-columns: 2fr 40px 1fr 40px 1fr 40px 1fr;
      -ms-grid-rows: 1fr 15px 1fr;
    }

    .signup {
      margin-top: 10px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(4n + 1) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(4n + 2) {
      -ms-grid-column: 5;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(4n + 3) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 1;
    }

    .item:nth-of-type(n + 4) {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }
  }
}
