@import 'styles/index';

.base {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  @media (--viewport-lg) {
    justify-content: flex-start;
  }
}

.sidebar {
  width: 100%;
  padding-right: var(--layout-sm-spacing);
  padding-left: var(--layout-sm-spacing);

  @media (--viewport-md) {
    padding-right: calc((100%) * 2 / 12);
    padding-left: calc((100%) * 2 / 12);
  }

  @media (--viewport-lg) {
    width: calc((100%) * 4 / 12);
    padding-right: calc(var(--layout-lg-spacing) * 2);
    padding-left: 0;

    .reverse & {
      padding-right: 0;
      padding-left: calc(var(--layout-lg-spacing) * 2);
    }
  }

  .reverse & {
    margin-bottom: 30px;

    @media (--viewport-lg) {
      margin-bottom: 0;
    }
  }
}

.content {
  width: 100%;
  padding-right: var(--layout-sm-spacing);
  padding-left: var(--layout-sm-spacing);
  margin-bottom: 30px;

  &.fullWidth {
    padding-left: 0;
  }

  .reverse &.fullWidth {
    padding-right: 0;
    padding-left: var(--layout-sm-spacing);
  }

  @media (--viewport-sm-only) {
    &.fullWidth.flushOnSmall,
    .reverse &.fullWidth.flushOnSmall {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .reverse & {
    margin-bottom: 0;
  }

  @media (--viewport-md) {
    padding-right: calc((100%) * 2 / 12);
    padding-left: calc((100%) * 2 / 12);

    &.fullWidth {
      padding-right: calc((100%) * 1.5 / 12);
      padding-left: 0;
    }

    .reverse &.fullWidth {
      padding-right: 0;
      padding-left: calc((100%) * 1.5 / 12);
    }
  }

  @media (--viewport-lg) {
    width: calc((100%) * 8 / 12);
    padding-right: calc((100%) * 1 / 12);
    padding-left: calc((100%) * 2 / 12);
    margin-bottom: 0;

    &.fullWidth {
      padding-right: calc((100%) * 1 / 12);
      padding-left: 0;
    }

    .reverse & {
      padding-right: calc((100%) * 2 / 12);
      padding-left: calc((100%) * 1 / 12);

      &.fullWidth {
        padding-right: 0;
        padding-left: calc((100%) * 1 / 12);
      }
    }

    .reverse.contentOnly & {
      width: 100%;
      padding-left: calc((100%) * 5 / 12);
    }
  }
}

.reverse {
  flex-direction: column-reverse;
  align-content: center;

  @media (--viewport-lg) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.contentOnly {
  @media (--viewport-lg) {
    justify-content: flex-start;
  }

  &.reverse {
    justify-content: flex-end;
  }
}
