:global {
  .story-container {
    max-width: 678px;
    padding: 2rem;
    margin: 20px auto;
  }

  pre {
    max-width: 980px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0.5rem;
    border: 1px solid #999;
    text-align: left;
  }
}
