@import 'styles/index';

.base {
  @media (--viewport-md-only) {
    width: 60%;
    margin: 0 auto;
  }

  @media (--viewport-lg) {
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.readMoreArticle {
  @media (--viewport-sm-only) {
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  @media (--viewport-md-only) {
    padding-right: 0 !important;
    padding-bottom: 85px;
    padding-left: 0 !important;
  }
}

.readMoreCategory {
  margin-top: 20px !important;
  margin-bottom: 14px !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.readMoreNote {
  @media (--viewport-sm-only) {
    font-size: 14px !important;
    line-height: 1.7 !important;
  }
}

.readMoreTitle span {
  font-size: 24px !important;
  line-height: 1.25 !important;
}
