@import 'styles/index';

.base {
  @media (--viewport-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* max-width: 1440px; */
}

.readMoreArticle {
  @media (--viewport-sm-only) {
    padding-bottom: 50px;
  }

  @media (--viewport-md-only) {
    padding-bottom: 70px;
  }
}
