@import 'styles/index';

.base {
  position: relative;
  display: block;
  padding-top: 25px;
  margin-bottom: 15px;
  font-family: var(--font-family-sans-serif-regular);

  &,
  & * {
    box-sizing: border-box;
  }
}

.input {
  display: inline-block;
  width: 100%;
  padding: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-grey-65);
  margin: 0;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  color: var(--color-dark-copy);
  cursor: pointer;
  font-size: rem(24px);
  line-height: 1.5;
  outline: none;
  text-overflow: ellipsis;

  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }
}

.isBlock {
  padding: 20px 50px 20px 20px;
  border-width: 1px;
  font-size: rem(16px);
  -webkit-padding-end: 50px;
  -webkit-padding-start: 20px;
}

.icon {
  position: absolute;
  right: 22px;
  bottom: calc(50% - 9px);
  pointer-events: none;

  .dark & {
    fill: var(--color-dark-label);
  }

  .light & {
    fill: var(--color-light-label);
  }
}

.label {
  position: absolute;
  top: 0;
  font-size: rem(24px);
  pointer-events: none;
  transform: translateY(25px);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }

  .hasFocus & {
    font-size: rem(14px);
    transform: translateY(0);
  }
}

.errorMessage {
  height: rem(14px);
  margin: 10px 0 0;
  color: var(--color-error);
  font-size: rem(14px);
  line-height: 1.4;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hasError {
  .errorMessage {
    opacity: 1;
  }
}
