@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  width: 100%;
  padding: 24px 0 23px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color-grey-20);
  background-color: var(--color-grey-10);
  color: var(--color-white);
  line-height: 1.4;

  @media (--viewport-md) {
    display: flex;
    align-items: center;
  }
}

.label {
  width: 66.6666%;
  flex-basis: auto;
  padding-right: 25px;
  font-family: var(--font-family-sans-serif-medium);

  @media (--viewport-sm-only) {
    margin-bottom: 40px;
  }

  @media (--viewport-md) {
    width: calc(100% * 6 / 12);
    flex-basis: auto;
    padding-right: 25px;
  }
}

.removeButton {
  color: var(--color-grey-60);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);

  @media (--viewport-md) {
    font-size: rem(13px);
  }

  @media (--viewport-lg) {
    font-size: rem(14px);
  }

  @media (--viewport-sm-only) {
    font-size: rem(12px);
  }

  &:focus {
    outline-color: var(--color-grey-20);
  }

  &:focus,
  &:hover {
    color: var(--color-white);
  }
}

.price {
  position: absolute;
  right: 0;
  display: inline-block;
  color: var(--color-white);
  font-size: rem(15px);

  @media (--viewport-sm-only) {
    color: var(--color-grey-60);
    font-size: rem(12px);
    transform: translateY(4px);
  }

  @media (--viewport-md) {
    flex-shrink: 0;
  }
}
