@import 'styles/index';

.base {
  display: block;
  min-width: auto;
  max-width: 100%;
  margin: 0 auto;
  font-size: rem(15px);

  @media (--viewport-lg) {
    max-width: 470px;
  }
}

.loading {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(0% - 5px);
}

.label {
  display: inline-block;
  overflow: hidden;
  width: 250px;
  height: 18px;
  line-height: 1;
  opacity: 1;
  transition: opacity 400ms var(--easing-ease-in-out-cubic);
  vertical-align: middle;
}

.hideLabel {
  opacity: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-18px);
  }
}
