@import 'styles/index';

.base {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);

  &,
  & * {
    box-sizing: border-box;
  }
}

.heading {
  margin-bottom: 6px;
}

.list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.4;
  list-style-type: none;
}

.item {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }
}

.dayName {
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);

  &::after {
    content: ': ';
  }
}

.hours {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(13px);
}

.alternateHours {
  .dark & {
    color: var(--color-dark-adjustment);
  }

  .light & {
    color: var(--color-light-adjustment);
  }

  &::after {
    content: '*';
  }
}

.alternateHoursNote {
  margin-bottom: 15px;
  font-size: rem(13px);

  .dark & {
    color: var(--color-dark-adjustment);
  }

  .light & {
    color: var(--color-light-adjustment);
  }

  &::before {
    content: '*';
  }
}
