@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  @media (--viewport-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (--viewport-lg) {
    justify-content: flex-end;
  }
}

.sidebar {
  @media (--viewport-md) {
    width: calc((100% - var(--layout-md-spacing) * 2) * 4 / 6);
  }

  @media (--viewport-lg) {
    width: calc((100% - 80px) * 5 / 12 - 20px);
    padding: 0 calc((100% - var(--layout-lg-spacing) * 2) / 12) 0 40px;
    margin-left: 40px;
  }
}

.main {
  @media (--viewport-md) {
    width: calc((100% - 34px * 2) * 4 / 6);
  }

  @media (--viewport-lg) {
    width: calc((100% - var(--layout-lg-spacing)) * 5 / 12);
    margin-right: calc((100% - var(--layout-lg-spacing) * 2) * 2 / 12 + 20px);
    margin-left: 20px;
  }
}

.rightAlignedSidebar {
  flex-direction: column-reverse;
  align-content: center;

  @media (--viewport-lg) {
    flex-direction: row-reverse;
  }

  .main {
    @media (--viewport-lg) {
      margin-right: calc((100% - var(--layout-lg-spacing) * 2) / 12);
      margin-left: 80px;
    }
  }

  .sidebar {
    @media (--viewport-lg) {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

.extraVerticalPadding {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (--viewport-md) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.columnBleed {
  margin: 0;

  @media (--viewport-md) {
    width: 100%;
    padding-left: calc((100% - 34px * 2) / 6);
  }

  @media (--viewport-lg) {
    width: calc((100% - 40px * 2) * 7 / 12 + 60px);
    padding-left: 0;
  }
}
