@import 'styles/index';

.base {
  outline: none;

  path {
    transition: fill 200ms var(--easing-ease-in-out-cubic);
  }

  .dark & {
    fill: var(--color-secondary);
  }

  .light & {
    fill: var(--color-primary);
  }
}

.plusAndCloseWithCircle {
  transition: all 200ms var(--easing-ease-in-out-cubic);

  .circle {
    fill: transparent;
    stroke-width: 3px;
    transition: fill 200ms var(--easing-ease-in-out-cubic);
  }

  &.dark .circle {
    stroke: var(--color-secondary);
  }

  &.light .circle {
    stroke: var(--color-primary);
  }

  &.dark.isActive .circle {
    fill: var(--color-primary);
  }

  &.light.isActive .circle {
    fill: var(--color-secondary);
  }

  .plus {
    opacity: 1;
    stroke-width: 2px;
    transition:
      fill 200ms var(--easing-ease-in-out-cubic),
      stroke 200ms var(--easing-ease-in-out-cubic),
      opacity 300ms var(--easing-ease-in-out-cubic);
  }

  &.isActive .plus {
    opacity: 0;
  }

  &.dark .plus {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
  }

  &.light .plus {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }

  &.dark.isActive .plus {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
  }

  &.light.isActive .plus {
    fill: var(--color-white);
    stroke: var(--color-white);
  }

  .close {
    opacity: 0;
    stroke-width: 2px;
    transition: opacity 300ms var(--easing-ease-in-out-cubic);
  }

  &.isActive .close {
    opacity: 1;
  }

  &.dark .close {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
  }

  &.light .close {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }

  &.dark.isActive .close {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
  }

  &.light.isActive .close {
    fill: var(--color-white);
    stroke: var(--color-white);
  }
}
