@import 'styles/index';

.base {
  outline: none;

  path {
    transition: fill 200ms var(--easing-ease-in-out-cubic);
  }
}

.plusAndCloseWithCircle {
  transition: all 200ms var(--easing-ease-in-out-cubic);

  .circle {
    fill: transparent;
    stroke: var(--color-secondary);
    stroke-width: 3px;
    transition: fill 200ms var(--easing-ease-in-out-cubic);
  }

  .plus {
    fill: var(--color-secondary);
    opacity: 1;
    stroke: var(--color-secondary);
    stroke-width: 2px;
    transition:
      fill 200ms var(--easing-ease-in-out-cubic),
      stroke 200ms var(--easing-ease-in-out-cubic),
      opacity 300ms var(--easing-ease-in-out-cubic);
  }

  .close {
    fill: var(--color-white);
    opacity: 0;
    stroke: var(--color-white);
    stroke-width: 2px;
    transition: opacity 300ms var(--easing-ease-in-out-cubic);
  }
}
