@import 'styles/index';

.base {
  @extend %title-typography;

  color: var(--color-body-copy);
}

.noTopMargin {
  margin-top: 0;
}

.noMargin {
  margin: 0;
}

.serifFont {
  font-family: var(--font-family-zapf-serif);
  font-weight: var(--font-weight-light);
}

.mediumWeightFont {
  font-family: var(--font-family-sans-serif-medium);
}

.xSmall {
  font-size: rem(15px);

  @media (--viewport-md) {
    font-size: rem(17px);
  }
}

.small {
  font-size: rem(17px);

  @media (--viewport-md) {
    font-size: rem(19px);
  }
}

.medium {
  font-size: rem(20px);

  @media (--viewport-md) {
    font-size: rem(22px);
  }
}

.large {
  font-size: rem(23px);
  line-height: 1.5;

  @media (--viewport-md) {
    font-size: rem(25px);
  }

  @media (--viewport-lg) {
    font-size: rem(27px);
  }
}

.xLarge {
  font-size: rem(26px);

  @media (--viewport-md) {
    font-size: rem(28px);
  }

  @media (--viewport-lg) {
    font-size: rem(30px);
  }
}
