@import 'styles/index';

.base {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--font-family-sans-serif-regular);
  font-weight: var(--font-weight-normal);
  line-height: 1.2;
  text-size-adjust: 100%;
}

.dark {
  @extend %font-theme-dark-copy;
}

.light {
  @extend %font-theme-light-copy;
}

.noTopMargin {
  margin-top: 0;
}

.flush {
  margin: 0 0 6px;
}

.serifFont {
  font-family: var(--font-family-zapf-serif);
  font-weight: var(--font-weight-light);
}

.mediumWeightFont {
  font-family: var(--font-family-sans-serif-medium);
}

.xXSmall {
  font-size: rem(14px);
  line-height: 1.7;
}

.xSmall {
  font-size: rem(16px);
  line-height: 1.6;
}

.small {
  font-size: rem(18px);
  line-height: 1.5;
}

.medium {
  font-size: rem(20px);
  line-height: 1.4;
}

.large {
  font-size: rem(22px);
  line-height: 1.4;
}

.xLarge {
  font-size: rem(24px);
  line-height: 1.33;

  &.serifFont {
    font-size: rem(25px);
  }

  @media (--viewport-md) {
    font-size: rem(26px);

    &.serifFont {
      font-size: rem(30px);
    }
  }

  @media (--viewport-lg) {
    font-size: rem(30px);

    &.serifFont {
      font-size: rem(30px);
    }
  }
}
