@import 'styles/index';

.base {
  z-index: var(--z-index-forground-content);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.6;

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }
}

.hasFullWidthImage {
  @media (--viewport-lg) {
    margin: auto 0 auto 50%;
  }
}

.hasFullWidthImage.reverse {
  @media (--viewport-lg) {
    margin: auto 50% auto 0;
  }
}

.hasFullWidthImage.hero {
  @media (--viewport-md-only) {
    position: relative;
    padding-top: var(--layout-logo-vertical-offset-lg);
    margin-right: auto;
    margin-left: var(--layout-lg-spacing);
  }
}

.innerWrapper {
  justify-content: space-between;
  padding: 36px 20px 56px;

  @media (--viewport-md-only) {
    .hero & {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (--viewport-md) {
    display: flex;
    flex-basis: auto;
    padding: 90px 34px;

    .hero & {
      flex-direction: column;
    }
  }

  @media (--viewport-lg) {
    width: 66.66667%;
    max-width: 780px;
    flex-basis: auto;
    flex-direction: column;
    padding: 115px 0;
    margin: auto;

    .hero & {
      padding-top: 0;
      margin-top: var(--layout-logo-vertical-offset-lg);
    }

    .hero.reverse & {
      margin-right: 15%;
      margin-left: 34%;
    }
  }

  .hasFullWidthImage & {
    height: 100%;
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md-only) {
      padding-top: 0;
    }
  }
}

.header {
  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  .hero & {
    @media (--viewport-md-only) {
      width: 100%;
    }
  }

  .section & {
    @media (--viewport-md-only) {
      margin-right: var(--layout-md-spacing);
    }
  }
}

.eyebrow {
  margin-bottom: 20px;
}

.content {
  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  .hero & {
    @media (--viewport-sm-only) {
      margin-top: 15px;
    }

    @media (--viewport-md-only) {
      width: 100%;
    }
  }

  .notHero & {
    @media (--viewport-md-only) {
      margin-left: var(--layout-md-spacing);
    }
  }

  .notHero.dark & {
    border-top: 2px solid var(--color-grey-20);
  }

  .notHero.light & {
    border-top: 2px solid var(--color-light-copy);
  }
}

.description {
  margin: 20px 0 20px;
  font-size: rem(15px);

  .hero & {
    margin-top: 0;
  }
}
