@import 'styles/index';

.base {
  z-index: var(--z-index-forground-content);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 1.6;

  @media (--viewport-lg) {
    display: flex;
    width: 50%;
    flex-basis: auto;
  }
}

.hasFullWidthImage {
  @media (--viewport-lg) {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 50%;
  }
}

.hasFullWidthImage.hero {
  @media (--viewport-md-only) {
    position: relative;
    margin-right: auto;
    margin-left: 0;
  }

  @media (--viewport-lg) {
    width: 100%;
    margin-left: 0;
  }
}

.hasFullWidthImage.reverse {
  @media (--viewport-lg) {
    margin-right: 50%;
    margin-left: 0;
  }
}

.hasFullWidthImage.reverse.hero {
  pointer-events: none;
  @media (--viewport-lg) {
    width: 100%;
    margin-right: 0;
  }
}

.topOffest.topOffest {
  margin-top: 0;
}

.innerWrapper {
  justify-content: space-between;
  padding: 40px 20px;

  @media (--viewport-md) {
    display: flex;
    flex-basis: auto;
    padding: 90px 34px;
  }

  @media (--viewport-lg) {
    width: 66.66667%;
    max-width: 780px;
    flex-basis: auto;
    flex-direction: column;
    padding: 115px 0;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  .hero & {
    pointer-events: auto;

    @media (--viewport-md-only) {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }

    @media (--viewport-md) {
      flex-direction: column;
    }

    @media (--viewport-lg) {
      margin-right: 34%;
      margin-left: 15%;
    }
  }

  .topOffest & {
    @media (--viewport-md) {
      padding-top: 80px;
    }

    @media (--viewport-lg) {
      padding-top: var(--layout-logo-vertical-offset-lg);
      margin-top: 0;
    }
  }

  .hasFullWidthImage & {
    height: 100%;
  }

  .topOffest.hasFullWidthImage & {
    @media (--viewport-md) {
      padding-top: var(--layout-logo-vertical-offset-md);
    }

    @media (--viewport-lg) {
      padding-top: var(--layout-logo-vertical-offset-lg);
    }
  }

  .hasFullWidthImage.hero & {
    @media (--viewport-md) {
      width: 100%;
      max-width: 448px;
      padding-right: 0;
      padding-left: 0;
      margin-right: 40px;
      margin-left: 33%;
    }

    @media (--viewport-lg) {
      width: 100%;
      max-width: 595px;
      margin-right: 15%;
      margin-left: auto;
    }
  }

  .hero.reverse & {
    @media (--viewport-lg) {
      margin-right: 15%;
      margin-left: 34%;
    }
  }

  .hasFullWidthImage.hero.reverse & {
    @media (--viewport-lg) {
      margin-right: 0;
      margin-left: 24.99%;
    }
  }
}

.header {
  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  .hero & {
    @media (--viewport-md-only) {
      width: 100%;
    }
  }

  .section & {
    @media (--viewport-md-only) {
      margin-right: var(--layout-md-spacing);
    }
  }
}

.content {
  font-size: rem(14px);

  @media (--viewport-md-only) {
    width: 48%;
    flex-basis: auto;
  }

  .hero & {
    font-size: rem(16px);

    @media (--viewport-sm-only) {
      margin-top: 15px;
    }

    @media (--viewport-md-only) {
      width: 100%;
    }
  }

  .notHero & {
    margin-top: 10px;

    @media (--viewport-md-only) {
      margin-left: var(--layout-md-spacing);
    }
  }

  .notHero.dark & {
    border-top: 2px solid var(--color-grey-20);
  }

  .notHero.light & {
    border-top: 2px solid var(--color-light-copy);
  }
}

.description {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: rem(14px);

  .hero & {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: rem(16px);
  }
}
