@import 'styles/index';

.base {
  width: min-content;
  min-width: auto;
  max-width: 100%;
  padding: 15px 15px 18px;
  font-size: rem(15px);
  text-align: center;

  @media (--viewport-lg) {
    max-width: 470px;
  }
}

.fullWidth {
  width: 100%;
}

.loading {
  position: absolute;
  top: calc(50% - 3.5px);
}

.showSuccessMessage {
  span {
    animation: slide-up 2000ms var(--easing-ease-in-out-cubic) forwards;
  }
}

.label {
  display: inline-block;
  overflow: hidden;
  max-width: min-content;
  height: 16px;
  line-height: 1;
  opacity: 1;
  transition: opacity 400ms var(--easing-ease-in-out-cubic);
  vertical-align: middle;

  span {
    display: inline-block;
    overflow: hidden;
    max-width: max-content;
    height: 18px;
    line-height: 1;
    text-overflow: ellipsis;
    transform: translateY(-18px);
    transition: all 300ms var(--easing-ease-in-out-cubic);
    vertical-align: middle;
    white-space: nowrap;
  }
}

.hideLabel {
  opacity: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-18px);
  }
}
