@import 'styles/index';

.base {
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  font-weight: var(--font-weight-normal);
  line-height: 1.4;

  &,
  & * {
    box-sizing: border-box;
  }
}

.image {
  img {
    width: auto;
    max-height: 200px;

    @media (--viewport-md) {
      max-height: 300px;
    }

    @media (--viewport-lg) {
      max-width: 100%;
      max-height: 500px;
    }

    @media (--viewport-xl) {
      max-height: 600px;
    }
  }
}

.cartDisclaimer {
  max-width: 300px;
  margin: 18px auto;
  font-size: rem(13px);
  line-height: 1.6;
  text-align: center;

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }
}
