@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: fixed;
  z-index: var(--z-index-fixed-dialog-banner);
  right: 0;
  left: 0;
  padding: 20px 40px;

  @media (--viewport-sm-only) {
    padding: 20px 20px 40px 20px;
  }

  @media (--viewport-md) {
    display: grid;
    grid-template-columns: 15% 63% 22%;
  }

  @media (--viewport-lg) {
    grid-template-columns: 20% 60% 20%;
  }
}

.top {
  top: 0;
}

.bottom {
  @extend %slideOutDown;

  bottom: 0;
}

/* @TODO Handle bottom prop */
.isVisible {
  &.bottom {
    @extend %slideInUp;
  }
}

.dark {
  background-color: var(--color-secondary);
}

.black {
  background-color: var(--color-grey-10);
}

.contentContainer {
  @media (--viewport-md) {
    padding: 0 24px;
  }
}

.heading {
  color: var(--color-white);

  @media (--viewport-sm-only) {
    margin-top: 28px;
    margin-bottom: 10px;
  }
}

.message {
  color: var(--color-grey-65);
  font-size: rem(15px);

  @media (--viewport-sm-only) {
    &:last-of-type {
      margin-bottom: 14px;
    }
  }
}

.warningIcon {
  fill: var(--color-grey-50);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 40px;

  @media (--viewport-sm-only) {
    top: 20px;
    right: 20px;
  }

  &:hover,
  &:focus {
    svg {
      fill: var(--color-white);
    }
  }
}

.closeIcon {
  fill: var(--color-grey-50);
}

.closeContainer {
  @media (--viewport-md) {
    align-self: flex-end;
    text-align: right;
  }
}

.ctaButton {
  font-size: rem(15px);
}
