:root {
  --easing-ease-in-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --easing-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --easing-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}
