:root {
  --z-index-fixed-full-screen-video: 1900;
  --z-index-fixed-dialog-banner: 1800;
  --z-index-fixed-notification-banner: 1700;
  --z-index-modal-inner: 1600;
  --z-index-flyin-panel: 1500;
  --z-index-modal: 1400;
  --z-index-cart: 1300;
  --z-index-overlay: 1200;
  --z-index-fixed-header: 70;
  --z-index-aesop-logo: 60;
  --z-index-carousel-navigation: 60;
  --z-index-carousel-edge: 50;
  --z-index-forground-content: 20;
  --z-index-background-image: 10;
}
