:root {
  --z-index-fixed-full-screen-video: 150;
  --z-index-fixed-dialog-banner: 140;
  --z-index-fixed-notification-banner: 130;
  --z-index-modal-inner: 120;
  --z-index-flyin-panel: 110;
  --z-index-modal: 100;
  --z-index-cart: 90;
  --z-index-overlay: 80;
  --z-index-fixed-header: 70;
  --z-index-aesop-logo: 60;
  --z-index-carousel-navigation: 60;
  --z-index-forground-content: 20;
  --z-index-background-image: 10;
}
