@import 'styles/variables/index';
@import 'styles/key-frame.css';
@import 'styles/font-face.css';

.base {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 50ms var(--easing-ease-in-out-cubic);
}

.isLoading {
  opacity: 1;
  transition: opacity 200ms var(--easing-ease-in-out-cubic);
}

.dot {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  background: var(--color-grey-20);
  border-radius: 100%;

  .small & {
    width: 5px;
    height: 5px;
  }

  .light & {
    background: var(--color-white);
  }

  .isLoading & {
    animation: fadeInOut 1000ms var(--easing-ease-in-out-cubic) infinite;

    &:nth-of-type(1) {
      animation-delay: -50ms;
    }

    &:nth-of-type(2) {
      animation-delay: 50ms;
    }

    &:nth-of-type(3) {
      animation-delay: 150ms;
    }
  }
}
