@import 'styles/index';

:root {
  --loading-size-small: 5px;
  --loading-size-medium: 7px;
  --loading-size-large: 10px;
}

.base {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 50ms var(--easing-ease-in-out-cubic);
}

.small {
  height: var(--loading-size-small);
}

.medium {
  height: var(--loading-size-medium);
}

.large {
  height: var(--loading-size-large);
}

.isLoading {
  opacity: 1;
  transition: opacity 200ms var(--easing-ease-in-out-cubic);
}

.dot {
  display: block;
  margin: 0 3px;
  border-radius: 100%;

  .small & {
    width: var(--loading-size-small);
    height: var(--loading-size-small);
  }

  .medium & {
    width: var(--loading-size-medium);
    height: var(--loading-size-medium);
  }

  .large & {
    width: var(--loading-size-large);
    height: var(--loading-size-large);
  }

  .dark & {
    background: var(--color-grey-20);
  }

  .light & {
    background: var(--color-white);
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .isLoading & {
    animation: fadeInOut 1000ms var(--easing-ease-in-out-cubic) infinite;

    &:nth-of-type(1) {
      animation-delay: -50ms;
    }

    &:nth-of-type(2) {
      animation-delay: 50ms;
    }

    &:nth-of-type(3) {
      animation-delay: 150ms;
    }
  }
}
