@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  z-index: var(--z-index-forground-content);
  overflow: hidden;

  picture {
    padding: 0;
  }

  p {
    font-size: rem(14px);
    font-weight: 400;
    line-height: 1.7;
  }

  :global {
    .slick-track {
      display: flex;
    }

    .slick-list {
      position: relative;
      margin: 0 40px 40px;

      /*
      @media (--viewport-md) {
        margin: 10px 0 40px;
      }

      @media (--viewport-lg) {
        margin: 10px 0 40px;
      } */
    }

    .slick-slide {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &:not(:first-of-type) {
        margin-left: 10px;
      }

      & > div {
        height: 100%;
      }
    }
  }
}

.edges {
  :global {
    .slick-list {
      &::before,
      &::after {
        position: absolute;
        z-index: var(--z-index-carousel-edge);
        top: 0;
        width: 40px;
        height: 100%;
        content: '';
      }

      &::before {
        left: -40px;
        background:
          -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgb(255, 254, 240)),
            to(rgba(0, 0, 0, 0))
          );
      }

      &::after {
        right: -40px;
        background:
          -webkit-gradient(
            linear,
            right top,
            left top,
            from(rgb(255, 254, 240)),
            to(rgba(0, 0, 0, 0))
          );
      }
    }
  }
}

.item {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  text-align: center;
  transition:
    background-color 700ms var(--easing-ease-out-cubic),
    color 700ms var(--easing-ease-out-cubic);

  a:active,
  a:hover,
  a:focus {
    background-color: var(--color-white-dark);
  }
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.mobileCarouselIntroductionWrapper {
  margin: 50px 20px 40px;

  @media (--viewport-md) {
    margin: 40px 60px 40px;
  }

  @media (--viewport-lg) {
    margin: 50px 100px 40px;
  }

  p {
    max-width: 100%;
    font-size: rem(14px);
  }
}
