@import 'styles/index';

.base {
  padding: 0;
}

.slideWrapper {
  height: 100%;
}

.carousel {
  position: relative;
  z-index: var(--z-index-forground-content);
  overflow: hidden;

  picture {
    display: flex;
    height: 380px;
    padding: 0;

    @media (--viewport-md) {
      height: 380px;
    }

    @media (--viewport-lg) {
      height: 400px;
    }
  }

  :global(.slick-track) {
    display: flex;
  }

  :global(.slick-list) {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;

    @media (--viewport-md) {
      margin-right: 40px;
    }

    @media (--viewport-lg) {
      margin-right: 80px;
      margin-bottom: 48px;
      margin-left: 80px;
    }
  }

  :global(.slick-slide) {
    & > div {
      height: 100%;
    }
  }
}

.item {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  transition:
    background-color 700ms var(--easing-ease-out-cubic),
    color 700ms var(--easing-ease-out-cubic);

  a:active,
  a:hover,
  a:focus {
    background-color: var(--color-white-dark);
  }
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.mobileCarouselIntroductionWrapper {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-left: 20px;

  @media (--viewport-md) {
    margin-right: 40px;
    margin-bottom: 100px;
    margin-left: 40px;
  }

  p {
    max-width: 100%;
    font-size: rem(14px);
  }
}

.fullWidthSlides {
  .mobileCarouselIntroductionWrapper {
    @media (--viewport-lg) {
      margin-right: 80px;
      margin-bottom: 40px;
      margin-left: 40px;
    }
  }

  :global(.slick-list) {
    margin-right: 0;
    margin-left: 0;
  }
}

.footer {
  position: relative;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: rem(14px);
  line-height: 1.6;

  @media (--viewport-md) {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
  }

  @media (--viewport-lg) {
    margin-right: 80px;
    margin-left: 80px;
  }
}

.flush {
  margin-right: 0;
  margin-left: 0;
}

.slideCounter {
  margin-bottom: 10px;

  @media (--viewport-md) {
    width: 20%;
  }

  @media (--viewport-lg) {
    width: 40%;
  }

  .dark & {
    color: var(--color-dark-decoration);
  }

  .light & {
    color: var(--color-white);
  }
}

.caption {
  @media (--viewport-md) {
    max-width: 480px;
  }

  @media (--viewport-lg) {
    max-width: 570px;
  }

  .dark & {
    color: var(--color-dark-decoration);
  }

  .light & {
    color: var(--color-white);
  }
}
