@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  overflow: hidden;

  picture {
    padding: 0;
  }

  p {
    font-size: rem(0.9rem);
    font-weight: 400;
    line-height: 1.7;
  }

  :global {
    .slick-track {
      display: flex;
    }

    .slick-list {
      margin: 10px 20px 40px;

      @media (--viewport-md) {
        margin: 10px 60px 40px;
      }

      @media (--viewport-lg) {
        margin: 10px 100px 40px;
      }
    }

    .slick-slide {
      & > div {
        height: 100%;
      }
    }
  }
}

.item {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  text-align: center;
  transition:
    background-color 700ms var(--easing-ease-out-cubic),
    color 700ms var(--easing-ease-out-cubic);

  a:active,
  a:hover,
  a:focus {
    background-color: var(--color-white-dark);
  }
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.mobileCarouselIntroductionWrapper {
  margin: 50px 20px 40px;

  @media (--viewport-md) {
    margin: 40px 60px 40px;
  }

  @media (--viewport-lg) {
    margin: 50px 100px 40px;
  }

  p {
    max-width: 100%;
    font-size: rem(14px);
  }
}
