@import 'styles/variables/index';

.base {
  width: 100%;
  padding-top: rem(17px);
  padding-bottom: rem(17px);
  font-size: rem(14px);
}

.loading {
  height: rem(27px);
}

.showSuccessMessage {
  span {
    animation: slide-up 2000ms var(--easing-ease-in-out-cubic) forwards;
  }
}

.label {
  display: inline-block;
  overflow: hidden;
  height: rem(20px);

  span {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    transition: all 300ms var(--easing-ease-in-out-cubic);

    &:first-of-type {
      transform: translateY(rem(-20px));
    }

    &:last-of-type {
      transform: translateY(rem(-20px));
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(rem(-20px));
  }
}
