@import 'styles/variables/index';

.base {
  margin: 0;
}

.video {
  display: none;
  width: 100%;
  height: auto;
}

.poster {
  display: none;
  width: 100%;
}

.isVisible {
  display: block;
}

.fullScreen {
  position: fixed;
  z-index: var(--z-index-fixed-full-screen-video);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
