@import 'styles/variables/index';

.base {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin: 0;
  object-fit: cover;

  @media (--viewport-sm-md-only) {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%; /* 16:9 */
  }

  @media (--viewport-lg) {
    height: auto;
    padding-top: 0;
    padding-bottom: 100%;
  }
}

.fullWidth {
  @media (--viewport-lg) {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%; /* 16:9 */
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover; */

  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  overflow: hidden;
  width: 100%; */

  object-fit: cover;

  /* pointer-events: none; */

  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  &,
  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.close {
  position: absolute;
  top: var(--layout-sm-spacing);
  right: var(--layout-sm-spacing);
  padding-right: 4px;
  color: var(--color-light-link);
  font-size: rem(17px);
  &:hover,
  &:focus {
    color: var(--color-light-link-hover);
  }

  svg {
    fill: var(--color-light-link);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--color-light-link-hover);
  }

  @media (--viewport-md) {
    top: var(--layout-md-spacing);
    right: var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    top: var(--layout-lg-spacing);
    right: var(--layout-lg-spacing);
  }
}

.icon {
  transform: translate(5px, 1px);
}

.isVisible {
  pointer-events: auto;
}

.playsInFullScreen {
  @media (--viewport-lg) {
    position: fixed;
    z-index: var(--z-index-fixed-full-screen-video);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.playPauseButton {
  position: absolute;
  bottom: var(--layout-sm-spacing);
  left: var(--layout-sm-spacing);
  display: flex;
  align-items: center;
  color: var(--color-light-link);

  @media (--viewport-md) {
    bottom: var(--layout-md-spacing);
    left: var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    bottom: var(--layout-lg-spacing);
    left: var(--layout-lg-spacing);
  }

  &:hover,
  &:focus {
    color: var(--color-light-link-hover);

    .playPauseButtonIcon {
      background-color: var(--color-light-link-hover);
    }
  }
}

.buttonIconOffset.buttonIconOffset {
  svg {
    transform: translateX(1px);
  }
}

.playPauseButtonLabel {
  display: none;

  @media (--viewport-lg) {
    display: inline;
  }
}

.playPauseButtonIcon.playPauseButtonIcon {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  background-color: var(--color-light-link);
  border-radius: 100%;

  &:hover,
  &:focus {
    color: var(--color-light-link-hover);
  }

  svg {
    fill: var(--color-dark-background);
  }
}
