@import 'styles/variables/index';
@import 'styles/mixins/index';

%hidden {
  display: none;
}

%visuallyHidden {
  /** https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.base {
}

.small {
  @media (--viewport-sm-only) {
    &.hidden {
      @extend %hidden;
    }

    &.visuallyHidden {
      @extend %visuallyHidden;
    }
  }
}

.medium {
  @media (--viewport-md-only) {
    &.hidden {
      @extend %hidden;
    }

    &.visuallyHidden {
      @extend %visuallyHidden;
    }
  }
}

.large {
  @media (--viewport-lg-only) {
    &.hidden {
      @extend %hidden;
    }

    &.visuallyHidden {
      @extend %visuallyHidden;
    }
  }
}

.xLarge {
  @media (--viewport-xl) {
    &.hidden {
      @extend %hidden;
    }

    &.visuallyHidden {
      @extend %visuallyHidden;
    }
  }
}
