@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--color-grey-20);
  background-color: var(--color-grey-10);

  @media (--viewport-md) {
    display: flex;
    justify-content: space-between;
  }
}

.label {
  color: var(--color-grey-60);
  font-family: var(--font-family-sans-serif-medium);
  font-size: rem(14px);
  line-height: 1.2;

  &.name {
    flex-basis: auto;
    font-size: rem(15px);
  }

  @media (--viewport-sm-only) {
    &.name {
      width: 100%;
    }

    &.size {
      display: none;
    }

    &.quantity {
      display: none;
    }
  }

  @media (--viewport-md) {
    &.name {
      width: calc(100% * 6 / 12);
      flex-basis: auto;
      padding-right: 25px;
    }

    &.size {
      width: calc(100% * 2 / 12);
      flex-basis: auto;
    }

    &.quantity {
      flex-basis: auto;
    }

    &.remove {
      flex-grow: 1;
    }

    &.price {
      flex-shrink: 0;
    }
  }
}

.closeIcon {
  fill: var(--color-grey-55);
}

.closeButton {
  height: 13px;
  line-height: 1;

  @media (--viewport-sm-only) {
    transform: translate(-4px, 2px);
  }

  &:focus {
    outline-color: var(--color-grey-20);
  }
}
