@import 'styles/index';

.base {
  position: relative;
}

.signUpIcon,
.loading {
  fill: var(--color-error);
  &.dark {
    fill: var(--color-dark-copy);
  }

  &.light {
    fill: var(--color-light-copy);
  }
}

.inputField {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.footerNewsletterInputWrapper {
  flex: 1 0 auto;
}

.button {
  height: 37px;
  box-sizing: border-box;
  flex: 0 0 auto;
  border: 1px solid var(--color-dark-copy);
  border-left: 0;
  margin-left: 0;
  background: transparent;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: rem(20px);

  &.dark {
    border-color: var(--color-dark-copy);
  }

  &.light {
    border-color: var(--color-light-copy);
  }

  &.hasError {
    border-color: var(--color-error);
  }

  &:focus {
    outline: none;
  }
}

.footerNewsLetter {
  height: 37px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.loading {
  position: absolute;
  top: 18px;
}

.subscriptionMessage {
  margin-top: 7px;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(14px);
  line-height: 2.14;
  &.dark {
    color: var(--color-dark-copy);
  }

  &.light {
    color: var(--color-light-copy);
  }
}

.footerNewsletterErrorMessage {
  color: var(--color-error);
}
