.base {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

.column {
  width: calc(100% * 1 / 12);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  list-style: none;

  .invertColour & {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &:not(:last-child) {
    margin-right: 1px;
  }
}

.gutter {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);

  .invertColour & {
    background-color: rgba(255, 255, 255, 0.1);
  }

  @media (width >= 640px) {
    width: 34px;
  }

  @media (width >= 1025px) {
    width: 80px;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}
