@font-face {
  font-family: 'Portrait Web';
  src:
    url('/aesop-gel/assets/fonts/Portrait/Portrait-Regular-Web.woff2') format('woff2'),
    url('/aesop-gel/assets/fonts/Portrait/Portrait-Regular-Web.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Portrait/Portrait-Regular-Web.eot');
}

@font-face {
  font-family: 'Suisse Regular';
  src:
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Regular-WebS.woff2') format('woff2'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Regular-WebS.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Regular-WebS.ttf') format('truetype');
}

@font-face {
  font-family: 'Suisse Medium';
  src:
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Medium-WebS.woff2') format('woff2'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Medium-WebS.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-Medium-WebS.ttf') format('truetype');
}

@font-face {
  font-family: 'Suisse SemiBold';
  src:
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-SemiBold-WebS.woff2')
    format('woff2'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-SemiBold-WebS.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Suisse/SuisseIntl-SemiBold-WebS.ttf') format('truetype');
}

@font-face {
  font-family: 'Zapf Humanist';
  src:
    url('/aesop-gel/assets/fonts/Zapf/324B1A_0_0.woff2') format('woff2'),
    url('/aesop-gel/assets/fonts/Zapf/324B1A_0_0.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Zapf/324B1A_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Canela Light';
  src:
    url('/aesop-gel/assets/fonts/Canela/Canela-Light-Web.woff2') format('woff2'),
    url('/aesop-gel/assets/fonts/Canela/Canela-Light-Web.woff') format('woff'),
    url('/aesop-gel/assets/fonts/Canela/Canela-Light-Web.eot');
}

:global {
  .sbdocs-content {
    max-width: 1300px !important;
  }

  .sb-show-main {
    margin: 0;
  }

  div[class^='css-'][scale='1'] {
    transform: none;
  }

  .docblock-propstable-body a,
  .sbdocs-p a {
    color: #1ea7fd;
    text-decoration: none;
  }

  .docblock-propstable-body a:hover,
  .sbdocs-p a:hover {
    text-decoration: underline;
  }

  .sbdocs-p.sbdocs-p code {
    padding: 1px 5px;
  }

  .docblock-propstable-body strong em {
    padding: 0 4px;
    border: 1px solid #d4b0c5;
    border-radius: 4px;
    color: #bb86a5;
    font-size: 12px;
    font-style: normal;
  }
}
