:global {
  #story-root {
    margin: 15px 40px;
  }

  #root {
    padding: 40px;
  }

  pre {
    max-width: 980px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0.5rem;
    border: 1px solid #999;
    text-align: left;
  }
}
