@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: relative;
  width: 100%;
  padding: 20px 40px;
  background-color: var(--color-white);
  color: var(--color-grey-10);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.6;
  transform: translateZ(0);

  @media (--viewport-md) {
    padding: 50px;
  }

  &.isVisible {
    pointer-events: auto;
  }
}

.closeIcon {
  fill: var(--color-grey-10);
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  padding: 2px 4px 0 4px;

  @media (--viewport-md) {
    top: 18px;
    right: 20px;
  }

  &:focus {
    outline-color: var(--color-grey-20);
  }
}
