@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: fixed;
  z-index: var(--z-index-flyin-panel);
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 166px 40px 60px;
  background-color: var(--color-white-dark);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.4;
  overflow-y: auto;

  @media (--viewport-sm-only) {
    width: 100%;
  }

  @media (--viewport-md) {
    width: 50%;
  }
}

.closeButton.closeButton {
  position: absolute;
  top: 18px;
  right: 20px;
  padding: 2px 4px 0 4px;
}
