@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  position: fixed;
  z-index: var(--z-index-flyin-panel);
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  justify-content: center;
  padding-top: calc(var(--layout-sm-spacing) * 4);
  padding-right: var(--layout-sm-spacing);
  padding-bottom: calc(var(--layout-sm-spacing) * 2);
  padding-left: var(--layout-sm-spacing);
  background-color: var(--color-white-dark);
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  overflow-y: auto;

  &,
  & * {
    box-sizing: border-box;
  }

  @media (--viewport-md) {
    padding-top: calc(var(--layout-md-spacing) * 4);
    padding-right: calc(var(--layout-md-spacing) * 4);
    padding-bottom: calc(var(--layout-md-spacing) * 2);
    padding-left: calc(var(--layout-md-spacing) * 4);
  }

  @media (--viewport-lg) {
    width: 50%;
    padding-top: calc(var(--layout-lg-spacing) * 4);
    padding-right: calc(var(--layout-lg-spacing) * 2);
    padding-bottom: calc(var(--layout-lg-spacing) * 2);
    padding-left: calc(var(--layout-lg-spacing) * 2);
  }

  @media (--viewport-xl) {
    width: 50%;
  }
}

.closeButton.closeButton {
  position: absolute;
  top: 18px;
  right: 20px;
  padding: 2px 4px 0 4px;
}
