@import 'styles/index';

.base {
  margin: 16px 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.item {
  display: inline-block;
  padding: 0;

  &:not(:first-of-type)::before {
    display: inline-block;
    padding: 0 10px;
    content: '\2022';
    font-size: rem(14px);
    line-height: 1;

    .dark & {
      color: var(--color-dark-copy);
    }

    .light & {
      color: var(--color-light-copy);
    }
  }
}

.link {
  position: relative;
  display: inline-block;
  font-size: rem(14px);

  .dark & {
    color: var(--color-dark-copy);
  }

  .light & {
    color: var(--color-light-copy);
  }

  &::after {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: -3px;
    margin-top: 0;
    margin-bottom: -10px;
    content: '';
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms var(--easing-ease-out-cubic);

    .dark & {
      border-bottom-color: var(--color-dark-copy);
    }

    .light & {
      border-bottom-color: var(--color-light-copy);
    }
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
