@import 'styles/variables/index';

.base {
  position: relative;
  display: inline-block;
}

.input {
  padding: 10px 42px 10px 15px;
  border: 1px solid var(--color-grey-20);
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: rem(14px);

  &:focus {
    outline: 1px solid var(--color-white);
  }
}

.icon {
  position: absolute;
  top: 15px;
  right: 17px;
  fill: var(--color-white);
  pointer-events: none;
}
