@import 'styles/index';

.base {
  position: relative;

  @media (--viewport-lg) {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
  }

  &.hero {
    min-height: 80vh;

    @media (--viewport-lg) {
      min-height: 65vh;
      margin-bottom: 5vh;
    }
  }
}

.reverse {
  @media (--viewport-lg) {
    flex-direction: row-reverse;
  }
}

.topOffest {
  padding-top: 40px;
  margin-top: -120px;

  @media (--viewport-md) {
    padding-top: 50px;
    margin-top: -130px;
  }

  @media (--viewport-lg) {
    padding-top: 75px;
    margin-top: -155px;
  }
}
