@import 'styles/variables/index';
@import 'styles/mixins/index';

.base {
  display: flex;
  align-items: center;
  padding: 60px var(--layout-sm-spacing);

  @media (--viewport-md) {
    padding: 100px var(--layout-md-spacing);
  }

  @media (--viewport-lg) {
    padding: 160px var(--layout-lg-spacing);
  }
}

.noTopPadding {
  padding-top: 0;
}

.wrapper {
  margin: 0 auto;
  text-align: center;

  @media (--viewport-md) {
    @mixin grid-pct 3, 6;
  }

  @media (--viewport-lg) {
    @mixin grid-pct 6, 12;
  }
}

.blockquote {
  p {
    @extend %title-typography;
    padding: 0;
    font-family: var(--font-family-zapf-serif);
    font-size: 1.9rem;
  }
}

.author {
  display: block;
  margin-top: 20px;
  font-family: var(--font-family-sans-serif-medium);
  font-size: 14px;
  font-style: initial;
  line-height: 2;
}
