@import 'styles/index';

.base {
  position: relative;
  margin: 0 0 10px;
}

.offsetPageHeading {
  @media (--viewport-md) {
    margin-left: 33%;
  }
}

.SuisseTitleFont {
  font-family: var(--font-family-sans-serif-regular);
}

.ZapfTitleFont {
  font-family: var(--font-family-zapf-serif);
}
