@import 'styles/index';

.base {
  position: relative;
  margin: 0 0 10px;
}

.offsetPageHeading {
  @media (--viewport-md) {
    margin-left: 33%;
  }
}

.smallPaddingBottom {
  padding-bottom: 50px;
}

.mediumPaddingBottom {
  padding-bottom: 80px;

  @media (--viewport-md-only) {
    padding-bottom: 100px;
  }

  @media (--viewport-lg) {
    padding-bottom: 150px;
  }
}

.largePaddingBottom {
  padding-bottom: 150px;

  @media (--viewport-lg) {
    padding-bottom: 250px;
  }
}

.SuisseFontFamily {
  font-family: var(--font-family-sans-serif-regular);
}

.ZapfFontFamily {
  font-family: var(--font-family-zapf-serif);
}
