@import 'styles/index';

.base {
  position: relative;
  display: flex;
  flex-direction: column;
}

.eyebrow {
  order: 1;
}

.heading {
  order: 2;
}

.subHeading {
  order: 3;
}

.offsetPageHeading {
  @media (--viewport-sm) {
    padding-top: 160px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -100px;
  }

  @media (--viewport-md) {
    width: 40%;
    padding-right: 0;
    padding-left: 0;
    margin-top: -75px;
    margin-left: 30%;
  }

  @media (--viewport-lg) {
    padding-top: 190px;
  }
}

.SuisseTitleFont {
  font-family: var(--font-family-sans-serif-regular);
}

.ZapfTitleFont {
  @extend %zaph-serif-typography;
}
