@import 'styles/index';

.base {
  position: relative;
  display: flex;
  flex-direction: column;
}

.eyebrow {
  order: 1;
}

.heading {
  order: 2;
}

.subHeading {
  order: 3;
}

.offsetPageHeading {
  @media (--viewport-sm-only) {
    padding: 0 20px;
  }

  @media (--viewport-md) {
    width: 40%;
    margin-top: 85px;
    margin-left: 30%;
  }

  @media (--viewport-lg) {
    margin-top: 110px;
  }
}

.SuisseTitleFont {
  font-family: var(--font-family-sans-serif-regular);
}

.ZapfTitleFont {
  @extend %zaph-serif-typography;
}
