@import 'styles/index';

.base {
  font-family: var(--font-family-sans-serif-regular);

  &,
  & * {
    box-sizing: border-box;
  }
}

.detailBlock {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-sans-serif-regular);
  font-size: rem(15px);
  line-height: 1.8;
}

.detail {
  width: 100%;
  margin-bottom: 10px;

  @media (--viewport-md) {
    width: calc(100% * 1 / 2);
    padding: 0 40px 0 0;
  }

  @media (--viewport-xl) {
    width: calc(100% * 1 / 3);
  }
}

.detailHeading {
  margin-bottom: 4px;
  font-family: var(--font-family-sans-serif-medium);
}

.detailContent {
  white-space: pre-wrap;
  word-break: break-word;

  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }
}

.hyperlink {
  .dark & {
    color: var(--color-dark-label);
  }

  .light & {
    color: var(--color-light-label);
  }
}
